body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-family: 'latoregular', sans-serif;
}

#header .logo {
    margin-top: 5%;
    width: 140px;
}

h1 {
    font-family: 'latolight', sans-serif;
    margin: 0.75em 0.75em 0.25em;
    font-size: 2.70em;
}

h2 {
    font-size: 2.70em;
    line-height: 1.3em;
    font-family: 'latolight', sans-serif;
    margin-top: 0.33em;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 650px;
    color: #FFF;
    /*background-color: #C55240;*/
    background: url(../image/ensalada-desenfoque.jpg) no-repeat center;
    /*background-size: 80px 60px;*/
    background-size: auto;
}

#header .picture {
    position: relative;
    z-index: 1;
}

#header h1 {
    text-shadow: -2px 1px #5d5d5d;
}

img, object, embed {
    max-width: 100%;
    height: auto;
}

.container {
    z-index: 999;
    position: relative;
}

#container {
    background: #FFF;
}

.cbp-so-scroller {
    overflow: hidden;
}

.cbp-so-section:first-child {
    margin-top: 25px;
}

.row {
    width: 100%;
    max-width: 940px;
    min-width: 320px;
    margin: 0 auto;
}

.row .seven.columns {
    width: 57.44681%;
}

element.style {
}
.row .seven.columns {
width: 57.44681%;
}
.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side {
    opacity: 0;
}

.column:first-child, .columns:first-child, .alpha {
    margin-left: 0px;
}

.cbp-so-side-left {
    text-align: left;
}

.cbp-so-side {
    width: 100%;
    margin: 0;
    padding: 3em 2%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.column, .columns {
    margin-left: 2.12766%;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    color: #C55240;
    font: 2.2em 'latolight', sans-serif;
    padding-bottom: 25px;
    padding-top: 0px;
}

p {
    color: #DA7465;
}

.space90 {
    margin-bottom: 90px;
}

.space60 {
    margin-bottom: 60px;
}

.space30 {
    margin-bottom: 30px;
}

.equipo {
    background: #db5940;
    color: #FFF;
    padding: 60px 0 80px 0;
    margin-top: 25px;
    font-family: 'latoregular', sans-serif;
}

.equipo h3{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 4px;
}

.equipo p{
    font-size: 22px;
    color: #f9d9d3;
    text-align: center;
    line-height: 36px;
    width: 50%;
    margin: 0 auto;
}

.equipo .row {
    max-width: none;
    min-width: auto;
}

.staff-content {
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.staff-img {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    height: 174px;

}

.staff-content h5 {
    font-size: 28px;
    color: #393f4a;
    font-weight: 300;
    text-align: center;
    margin: 0 0 5px;
}

.staff-content strong {
    font-size: 18px;
    display: block;
    text-align: center;
    color: #db5940;
    text-transform: uppercase;
    font-weight: 700;
}

.team-social {
    padding: 0;
    margin: 0 auto;
    display: table;
}

.team-social li {
    float: left;
    list-style: none;
    margin: 30px 5px 35px;
}

.team-social li i {
    line-height: 40px;
}

.team-social li a {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: #b7b7b7;
    border-radius: 50%;
    display: table;
}

#footer {
    padding: 25px 0;
    background: #363f48;
}

.color-text-footer {
    color: #9DA5AF;
}

.card{
    background-color: #F1F1F1;
}

.rol {
    font-weight: bold;
    color: white;
}

.titulo {
    color: white;
    text-transform: uppercase;
    font-size: 48px;
}

.foto-miembro{
    margin-bottom: 15px !important;
}

div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.row-nuestro-equipo {
    margin-left: -15px;
    margin-right: -15px;
}

hr{
    opacity: 0.3;
}

.email-white{
    color: white;
}

.border{
    border-radius: 50px;
}