body {
    padding-top: 90px;
    background-color: #eeeeee;
    padding-bottom: 80px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-logo {
    width: 50px;
    height: 41px;
    padding: 2px;
}

.navbar .container .navbar-brand {
    margin-left: 25px;
    padding: 5px 10px 0 0;
}

header .container {
    width: 100%;
}

.navbar-input-group {
    display: inline;
}

.navbar-input-group-btn {
    float: left;
}

.profile {
    float: right;
    clear: both;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    width: 250px;
}

.navbar .profile-image {
    padding: 5px;
}

.profile-image img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.btn-eathub {
    color: #fff;
    background-color: #CC3E27;
    border-color: #cc3e27;
}

.btn-eathub.btn.btn-default:hover, .btn-eathub.btn.btn-default:focus, .btn-eathub.btn.btn-default:active {
    color: #cc3e27;
    background-color: #fff;
    border-color: #cc3e27;
}

.btn-eathub-inverted {
    color: #CC3E27;
    background-color: #fff;
    border-color: #cc3e27;
}

.btn-eathub-inverted.btn.btn-default:hover, .btn-eathub-inverted.btn.btn-default:focus, .btn-eathub-inverted.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #cc3e27;
}

.navbar .btn-eathub, .navbar .btn-eathub-inverted {
    margin: 8px;
}

.plus {
    margin: 8px;
    color: #fff;
    background-color: #CC3E27;
    border-color: #cc3e27;
}

.plus-bar {
    margin: 8px;
    color: #fff;
    background-color: #cc3e27;
    border-color: #cc3e27;
}

.plus.btn.btn-default:hover, .plus.btn.btn-default:focus, .plus.btn.btn-default:active {
    color: white;
    background-color: #cc3e27;
    border-color: #a23422;
}

.plus-bar.btn.btn-default:hover, .plus-bar.btn.btn-default:focus, .plus-bar.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #a23422;
}

.divider-vertical {
    height: 40px;
    margin: 5px 9px;
    border-left: 1px solid #D66552;
    border-right: 1px solid #D66552;
}

.input-group-btn > .btn {
    background-color: #CC3E27;
    color: #fff;
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group-btn-red > .btn {
    color: #fff;
    background-color: #cc3e27;
    border-color: #a23422;
    border-left-width: 0;
    left: -2px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/

}

.input-group-btn > .btn:hover {
    color: #CC3E27;
    background-color: #fff;
    border-color: #D66552;
}

.input-group-btn-red > .btn:hover {
    background-color: #a23422;
    color: #fff;
    border-color: #b65252;
}

.input-group .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.form {
    margin: 0 auto;
    float: none;
}

.recipe-head {
    border-bottom: 1px solid #CC3E27;
}

.recipe-time {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #CC3E27;
    font-size: 20px;
}

.recipe-list-time {
    color: #CC3E27;
    font-size: 18px;
}


.recipe-image {
    padding: 30px;
    text-align: center;
}

.recipe-image img {
    width: 400px;
}

.recipe-subhead {

}

.recipe-album ul {
    padding-left: 0;
    text-align: center;
}

.recipe-album li {
    display: inline;
    list-style: none;
}

.recipe-album img {
    width: 120px;
}

.recipe-tags {

}

.recipe-tags-list {

}

.recipe-tag {
    display: inline-block;
    background-color: #FFF;
    color: #CC3E27;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 4px 5px;
    margin: 3px;
    text-align: center;
    font-weight: 500;
}

.recipe-tag:hover {
    background-color: #CC3E27;
    color: #FFF;
    text-decoration: none;
    border-color: #FFF;
}


.recipe-taste .progress {
    height: 10px;
    margin-bottom: 10px;
}

.recipe-taste .progress .progress-bar {
    font-size: 10px;
    line-height: 12px;
}

.recipe-info {
    background-color: #FFF;
    padding: 5px;
    margin: 0 20px;
    border-radius: 10px;
}

.recipe-info-data {
    padding: 5px;
    margin-top: 5px;
}

.recipe-info-data h5 {
    display: inline;
    font-weight: bold;
}

.recipe-info-data span {
    float: right;
}

.recipe-info-data span .recipe-tag {
    margin-right: -7px;
    margin-top: -5px;
}

.recipe-note {

}

.recipe-note h1 {
    color: #CC3E27;
}

.recipe-note span {
    border: 1px solid #e3e3e3;
    padding: 15px;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 2px;
    text-align: justify;
    text-align-last: left;
}

.drag-and-drop {
    border: 2px dotted #0B85A1;
    height: 100%;
    min-height: 100px;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    /*padding: 10px 10px 10px 10px;*/
    margin-bottom: 10px;
    font-size: 175%;
}

.main-picture {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    font-size: 175%;
    text-align: center;
}


#main-picture-indicator {
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto
}

#main-picture-indicator span.glyphicon {
    font-size: 300%;
}

.drop-target {
    border: dashed 2px #cc7466;
    color: #cc7466;
    border-radius: 6px;
}

.drop-target.dropping {
    border: solid 2px #cc7466;
}

.gallery {
    min-height: 150px;
    margin-left: 0;
    margin-right: 0;

    font-size: 150%;
    text-align: center;
}

#gallery-indicator {
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

#gallery-indicator span.glyphicon {
    font-size: 200%;
}

.gallery .gallery-item {
    height: 100%;
    padding: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    max-height: 150px;
}

.input-xlg {
    height: 52px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
}

.step span {
    font-size: 50px;
    color: #CC3E27;
}

.step.next span {
    font-size: 50px;
    color: #ccc4bc;
}

.step img {
    height: auto;
    width: 100%;
}

.savours-help {
    font-size: 18px;
    font-style: italic;
    color: #9f9f9f;
    padding: 20px;
}

.ingredient-item span.repeatable-add {
    color: #ababab;
}

.path {
    stroke-dasharray: 2257;
    stroke-dashoffset: 2257;
}

.main-card-description {
    overflow: hidden;
}

.main-card-description p{
}

.main-card-content {
    height: 130px;

}

#salty.progress-bar {
    background: #0480be;
}

#sour.progress-bar {
    background: #d4ab2e;
}

#bitter.progress-bar {
    background: #22b42d;
}

#sweet.progress-bar {
    background: #b472a8;
}

#spicy.progress-bar {
    background: #c52323;
}

.plus-profile {
    color: #CC3E27;
}

.plus-profile:hover {
    color: #fff;
    background-color: #CC3E27;
    border-color: #D66552;
}

.btn-follow {
    color: #CC3E27;
}

.btn-follow:hover {
    color: #fff;
    background-color: #CC3E27;
    border-color: #D66552;
}

.btn-unfollow {
    color: #fff;
    background-color: #CC3E27;
    border-color: #D66552;
}

.btn-unfollow[disabled] {
    color: #CC3E27;
    opacity: .65;
}

.btn-unfollow:hover {
    color: #CC3E27;
    background-color: #eaaea4;
}

.alert-follow {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    display: none;
}

.border-search {
    border-color: #a23422;
}

.border-default {
    border-color: #cc3e27;
}

.text-red {
    color: #cc3e27 !important;
}

.border-white {
    border-color: #fff !important;
}

.border-rect-red{
     border-radius: 2px !important;
}

.thumbnail, .panel, .btn, .border-rect, .badge, .progress {
    border-radius: 2px !important;
}

/*.thumbnail,*/
.panel, .border-rect {
    border: 1px solid #d8d8d8 !important;
}

.badge-counter {
    background-color: #CC3E27 !important;
}

.follow-list-item {
    margin-left: 15px;
    margin-right: 15px;
}

.follow-list-item img {
    height: 80px;
    width: auto;
    margin: 6px 10px 6px 0;
    float: left;
}

.follow-list-item .user-name {
    color: #232323;
    font-size: 16px;
    font-style: normal;
    margin: 8px 0 5px 5px;
}

.follow-list-item .user-name a {
    color: #232323;
}

.follow-list-item .location {
    color: #666666;
}

.follow-list-item .extra-info {
    font-style: italic;
    color: #424242;
}

.recipe-link {
    color: #CC3E27;
    font-weight: bold;
}

.recipe-link:hover {
    color: #CC3E27;
    font-weight: bold;
    text-decoration: None;
}

.follow-msg {
    text-align: center !important;
}

.comment-image img {
    width: 80px;
    height: 80px;
}

.efecto-inferior {
    border-bottom: 16px solid #ccc;
    border-right: 16px solid transparent;
    left: -1px;
    top: -1px;
}

.bocadillo-efecto {
    height: 0;
    position: absolute;
    width: 0;
}

.efecto-superior {
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    left: -1px;
}

.comment-bocadillo {
    background-color: #e9e9e9;
    border-top: 1px solid #ccc;
    cursor: text;
    display: block;
    height: 15px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 20px;
}

.comment-form {
    height: 100px;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
}

.comment-form textarea {
    border: 0;
    resize: none;
    padding-left: 10px;
    background-color: transparent;
    outline: none;
}

.comment-form:hover {
    border: 1px solid #CC3E27;
}

.comment-form:hover .comment-bocadillo {
    border-top: 1px solid #CC3E27;
}

.comment-form:hover .efecto-inferior {
    border-bottom: 16px solid #CC3E27;
    left: 0px;
    top: -1px;
}

.comment-form:focus {
    background-color: #fff;
}

.comment-form textarea:focus {
    outline: none;
}

.comment {
    padding: 20px;
}

.comment-text {
    margin: 30px 15px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
    color: #999;
}

.main-card-picture {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.main-card-name {
    margin-bottom: 10px;
    overflow: hidden;
}

.main-card-name span  {
    font-size: 30px;
    font-weight: 400;
    color: #CC3E27;
    max-height: 120px;
    text-overflow: ellipsis;
    line-height: 120%;
}

.main-card-name a:hover {
    text-decoration: None;
}


.comment-banned {
    opacity: 0.5;
}


.text-soft {
    color: #5a5a5a;
}


/*estilo de los botones de voto de las recetas*/
.vote{
    padding-right: 12px;
}


.recipe-max-height {
    height: 95px;
}


.limit-text {
    overflow:hidden;
}

.recipe-title-max-height {
    height: 25px;
}


.login-welcome-title {
    font-size: 46px;
    text-align: center;
    color: #474747;
}

.login-welcome-text {
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    line-height: 1.4;
}

.login-welcome {
    margin-top: 10px;
}

.login-form {
    margin-top: 0px;
}

.login-form-heading {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #CC3E27;
}

.login-form p {
    color: #CC3E27;
    text-align: center;
    font-size: medium;
}

.login-form form {
    padding: 20px 40px 10px;
}

.login-form-submit {
    width: 100%;
    margin-top: 20px;
}

.login-form-remember label {
    font-weight: bold;
    color: #767676;
    font-size: 13px;
}

.login-form-signup {
    margin-top: 20px;
    text-align: center;
}

.login-form-forgot {
    text-align: center;
    margin-top: 5px;
}

.login-form-forgot a, .login-form-signup a{
    color: #CC3E27;
}

.recipe-name {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
    color: #CC3E27;
    font-size: 3em;
}

.recipe-parent {
    margin-top: -15px;
    color: #CC3E27;
    font-size: 14px;
    opacity: 0.8;
}

.recipe-parent:hover {
    opacity: 1;
}

.recipe-parent a {
    color: #CC3E27;
}

.recipe-parent a:hover {
    text-decoration: none;
}

.recipe-parent-name {
    font-style: italic;
}

.main-picture-padding {
    height: 400px;
    padding: 10px;
    position: relative;
}

.main-picture-carousel {
    overflow: hidden;
    height: 380px;
}

.recipe-carousel-item {
    /*width: 100%;*/
    background-size: cover;
    background-position: center;
    height: 100%;
}

.recipe-carousel-wrapper {
    height: 100%;
}

.recipe-carousel-item img {
    opacity: 0;
}

.recipe-author {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    color: #CC3E27;
}

.recipe-author:hover, .recipe-author.hover {
    background-color: #CC3E27;
    color: #fff;
}

.recipe-author-picture-container {
    z-index: 10;
    padding: 4px;
    margin: 2px;
}

.recipe-author-picture {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
}

.recipe-author-picture img {
    opacity: 0;
    max-width: 80px;
    max-height: 80px;
}

.recipe-author-name {
    float: right;
    z-index: 9;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 44px;
    padding: 8px 48px 10px 10px;
    border-radius: 5px;
}

.recipe-author-main {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.recipe-link-main {
    color: #CC3E27;
    font-weight: bold;
    text-decoration: None;
}

.recipe-link-main:hover {
    color: #CC3E27;
    font-weight: bold;
    text-decoration: None;
}

.recipe-author-main h5 {
    display: inline;
    color: #CC3E27;
    font-weight: bold;
}

.recipe-data p{
    margin: 0;
    color: #CC3E27;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.recipe-fork {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #CC3E27;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
}

.recipe-fork-count, .recipe-fork-clone {
    color: #CC3E27;
    font-size: 17px;
    padding: 0 6px;
    background: none;
    font-weight: 500;
}

.recipe-fork-count:hover, .recipe-fork-clone:hover {
    background-color: #CC3E27;
    color: #fff;
}

.recipe-fork-count {
    border: none;
}

.recipe-fork-clone {
    font-size: 15px;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #e3e3e3;
}

.recipe-modal-children .modal-title {
    color: #CC3E27;
    font-size: 22px;
}

.recipe-modal-children .modal-dialog {
    width: 500px;
}

.recipe-modal-children .modal-body ul {
    list-style: none;
    padding: 0;
}

.recipe-modal-children .modal-body ul a {
    color: #CC3E27;
    font-weight: 500;
    font-size: 16px;
}

.recipe-modal-children .modal-body ul a i {
    font-size: 18px;
}

.recipe-modal-children .modal-body a .recipe-modal-children-author {
    font-style: italic;
}

.recipe-modal-children-empty {
    text-align: center;
}

.recipe-modal-children-empty span {
    font-style: italic;
    color: #CC3E27;
}

.recipe-modal-children-empty a {
    margin-top: 10px;
}

.recipe-modal-children-empty a i{
    font-size: 18px;
}

.recipe-data p.recipe-data-secondary {
    color: #bababa;
    font-weight: normal;
}

.recipe-description p {
    font-size: 16px;
    margin: 5px 20px;
}

.recipe-panel-title {
    color: #CC3E27;
    margin: 5px 0 10px;
}

.recipe-ingredients {
    /*background-color: #FCF0AD;*/
    min-height: 200px;
}

.recipe-ingredients ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    font-size: 15px;
    font-style: italic;
}

.recipe-ingredients li:before{
    content: "-";
    position:relative; left:-5px;
    color: #5a5a5a;
}

.recipe-ingredients-parent{
    padding-left: 0;
    padding-right: 5px;
}

.recipe-notes {
    font-size: 15px;
    width: 100%;
    min-height: 200px;
}

.recipe-notes-parent{
    padding-left: 5px;
    padding-right: 0;
}

.recipe-step-list{
    margin-top: 80px;
    margin-bottom: 50px;
}

.recipe-step {

}

.recipe-step-count {
    font-size: 55px;
    color: #CC3E27;
    text-align: center;
}

.recipe-step p {
    font-size: 16px;
    color: #424242;
    line-height: 1.7;
}

.recipe-step-separator {
    background: url('../image/separator.png') no-repeat center;
    height: 65px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-step-picture {
    margin-top: 10px;
    height: 200px;
    width: auto;
}

.recipe-tastes {
}

.recipe-tastes-list {
    margin: 0 10px;
}

.recipe-tastes-parent{
    padding-left: 5px;
    padding-right: 0;
}

.recipe-taste span {
    color: #696969;
    font-weight: bold;
    font-size: 13px;
}

.recipe-more-title {
    color: #696969;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.recipe-more-parent {
    padding-left: 0;
    padding-right: 5px;
}

.recipe-comment-list {
    margin: 30px 40px;
}

.recipe-comment, .recipe-comment-form {
    padding-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.recipe-comment-form {
}

.recipe-comment-form textarea {
    background-color: #eee;
}

.recipe-comment-form textarea:focus {
    background-color: #fff;
}

.recipe-comment-picture {
    width: 100%;
    height: 100%;
    max-width: 75px;
    margin-left: -100px;
    float: left;
}

.recipe-comment-name {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 18px;
}

.recipe-comment-date {
    color: #8d8d8d;
    margin-left: 5px;
}

.recipe-comment p {
    font-size: 15px;
    margin-top: 10px;
}

.recipe-comment-empty {
    padding-left: 100px;
}

.recipe-comment-empty p{
    font-size: 16px;
    font-style: italic;
}

.recipe-comment-login {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-top: 40px;
}

.recipe-comment-login a {
    color: #CC3E27;
}

.recipe-votes-container {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.recipe-votes {
    background-color: #fff;
    padding: 5px 15px 0 15px;
    border-radius: 5px;
    margin-bottom: -40px;
}

/*.recipe-votes:hover {
    margin-bottom: 0;
}*/

.recipe-votes-progress {
    height: 4px;
    margin-bottom: 10px;
}

.recipe-votes-indicators {
    color: #676767;
    font-size: 11px;
    text-align: right;
}

.recipe-votes-indicator {
    margin-left: 6px;
}

.recipe-votes-indicator i {
    margin-right: 3px;
    font-size: 15px;
}

.recipe-votes-count {
    font-size: 18px;
    color: #3d3d3d;
    margin-left: 8px
}

.recipe-votes-buttons {
    height: 40px;
    margin-top: 2px;
}

.recipe-votes-like-btn {
    color: #939393;
    font-size: 14px;
    background: none;
    border: none;
}

.recipe-votes-like-btn:hover, .recipe-votes-like-btn:hover i {
    background-color: #CC3E27;
    color: #fff;
}

.recipe-votes-like-btn i {
    font-size: 16px;
    color: #656565;
}

.recipe-controls {
    margin-bottom: 20px;
}

.recipe-controls .fa{
    font-size: 17px;
    font-weight: bold;
}

.post-it-right {
    background: #fefabc;
    padding: 15px;

    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);

    box-shadow: 0px 4px 6px #777;
    -moz-box-shadow: 0px 4px 6px #777;
    -webkit-box-shadow: 0px 4px 6px #777;
}

.post-it-left {
    background: #fefabc;
    padding: 15px;

    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);

    box-shadow: 0px 4px 6px #777;
    -moz-box-shadow: 0px 4px 6px #777;
    -webkit-box-shadow: 0px 4px 6px #777;

}

.postit {
    position: relative;
    border: 1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    display: inline-block;
    /*background: rgb(255, 255, 136); *//* Old browsers *//*
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%, rgba(255, 255, 136, 1)), color-stop(100%, rgba(255, 255, 214, 1))); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); *//* IE10+ *//*
    background: linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); *//* W3C */
    background: #fefabc;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffff88', GradientType=0); *//* IE6-9 fallback on horizontal gradient */
    box-shadow: 0px 3px 6px #777;
    -moz-box-shadow: 0px 3px 6px #777;
    -webkit-box-shadow: 0px 3px 6px #777;
}

.postit:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.12, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.12, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 12, 0, 0);
    -ms-transform: matrix(-1, -0.12, 0, 1, 0, 0);
    transform: matrix(-1, -0.12, 0, 1, 0, 0);
}

.main-card {
    height: 400px;
    position: relative;
}


/* Footer shit */

.footer-content {
    padding: 20px 0;
}

.ul-footer {
    list-style: none;
}

.footer-link {
    color: #aaa;
    font-weight: 200;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footer-link:hover {
    color: #eee;
}

.footer-logo {
    margin-bottom: -75px;
    vertical-align: middle;
}

.footer-logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer-logo-container {
    height: 100%;
    text-align: center;
}

.terms-title {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
    color: #CC3E27;
    font-size: 3em;
}

.terms-content-title {
    color: #CC3E27;
    margin: 5px 0 10px;
}

.terms-text-soft {
    padding-right: 40px;
    text-align: justify;
    word-wrap: break-word;
    color: #5a5a5a;
}

.contact-title {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
    color: #CC3E27;
    font-size: 3em;
}

.contact-content-title {
    color: #CC3E27;
    margin: 5px 0 10px;
}

.contact-text-soft {
    margin-right: 20px;
    text-align: justify;
    word-wrap: break-word;
    color: #5a5a5a;
}

.contact-about-parent {
    padding-left: 0;
    padding-right: 5px;
}

.main-picture-padding-team {
    height: 400px;
    padding: 10px;
    position: relative;
}

.main-picture-padding-team img {
   height: 100%;
   width: 100%;
}

.team-more-parent {
    padding-left: 0;
    padding-right: 5px;
}

.team-more-title {
    color: #696969;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.team-more-parent {
    padding-left: 0;
    padding-right: 5px;
}

.contact-about-us-title {
    color: #CC3E27;
    margin: 5px 0 10px;
}

.panel-about-container{
    padding-left: 5px;
    padding-right: 5px;
}
.panel-about {
    /*margin: 3px*/
}

.about-title {
    color: #CC3E27;
    margin-top: 5px;
}

.about-thumbnail  {
    margin-top: 50px;
    text-align: center;
}

.about-thumbnail i {
    color: #CC3E27;
    font-size: 1000%;
    opacity: 0.8;
}

.about-content-title {
    color: #CC3E27;
    margin: 5px 0 10px;
}
.team-panel-title {
    color: #CC3E27;
    margin: 5px 0 10px;
}

.plus.btn.btn-contact:hover, .plus.btn.btn-contact:focus, .plus.btn.btn-contact:active {
    color: #cc3e27;
    background-color: #fff;
    border-color: #cc3e27;
}

.contact-more-title {
    color: #696969;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.contact-more-parent {
    padding-left: 0;
    padding-right: 5px;
}

.team-tastes-parent{
    padding-left: 5px;
    padding-right: 0;
}

.group-description p {
    text-align: center;
    font-size: 16px;
    margin: 5px 20px;
}

.team-image {
    height: auto;
    width: 125px;
}

.group-div-descrption {
    float: right;
    width: 66%;
}

.group-div-image {
    float: left;
    width: 33%;
}

p.about-description  {
    font-size: 16px;
    text-align: justify;
}

#container {
    position: relative;
    min-height: 100%;
}

main {
    padding-bottom: 60px;
}

html, body {
    height: 100%;
    padding-bottom: 0;
}

footer {
    background-color: #333333;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

/* Style used into password recovery form */
.panel-body-password-recovery {
    text-align: center;
    margin-top: 10%;
}

/* Style used into password recovery left image */
.password-recovery-image-div {
    width: 230px;
    height: 300px;
    margin-right: 3em;
}

.terms-and-conditons-panel h3 {
    margin-top: 50px;
}

.password-recovery-image{
    height: inherit;
    width: inherit;
}


.error-page-icon{
    height: 106px;
    width: 128px;

    /* Using margin to fulfill the 200x200 px space*/
    margin-right: 52px;
    margin-left: 52px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.navbar-red {
    background-color: #cc3e27 !important;
    box-shadow: 2px 2px 5px #999 !important;
}

.navbar-nav>li>a{
    color: #fff !important;
}

.navbar-nav>.active>a{
    font-weight: bold !important;
}

.text-white{
    color: #fff !important;
}

.btn-eathub-red {
    color: #fff;
    background-color: #cc3e27;
    border-color: #cc3e27;
}

.btn-eathub-red.btn.btn-default:hover, .btn-eathub-red.btn.btn-default:focus, .btn-eathub-red.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #a23422;
}

.btn-eathub-inverted-red {
    color: #fff;
    background-color: #a23422;
    border-color: #b65252;
}

.btn-eathub-inverted-red.btn.btn-default:hover, .btn-eathub-inverted-red.btn.btn-default:focus, .btn-eathub-inverted-red.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #a23422;
}

.navbar .btn-eathub-red, .navbar .btn-eathub-inverted-red {
    margin: 8px;
}

.navbar-default .navbar-toggle{
    border-color: #cc3e27 !important;
}

.navbar-default:hover .navbar-toggle:hover{
    background-color: #cc3e27 !important;
    border-color: #a23422 !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #cc3e27 !important;
    border-color: #a23422 !important;
}


 .termsandcond {
     color: #cc3e27;
     font-weight: bold;
 }

 .termsandcond:hover {
     color: #cc3e27;
     font-weight: bold;
  }