body {
    padding-top: 90px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-logo {
    width: 50px;
    height: 41px;
}

.navbar .container .navbar-brand {
    margin-left: 25px;
    padding: 5px 10px 0 0;
}

header .container {
    width: 100%;
}

.navbar-input-group {
    display: inline;
}

.navbar-input-group-btn {
    float: left;
}

.profile {
    float: right;
    clear: both;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    width: 250px;
}

.navbar .profile-image {
    padding: 5px;
}

.profile-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.btn-eathub {
    color: #fff;
    background-color: #CC3E27;
    border-color: #cc3e27;
}

.btn-eathub.btn.btn-default:hover, .btn-eathub.btn.btn-default:focus, .btn-eathub.btn.btn-default:active {
    color: #cc3e27;
    background-color: #fff;
    border-color: #cc3e27;
}

.plus {
    margin: 8px;
    color: #fff;
    background-color: #CC3E27;
    border-color: #cc3e27;
}

.plus.btn.btn-default:hover, .plus.btn.btn-default:focus, .plus.btn.btn-default:active {
    color: #cc3e27;
    background-color: #fff;
    border-color: #cc3e27;
}

.divider-vertical {
    height: 40px;
    margin: 5px 9px;
    border-left: 1px solid #D66552;
    border-right: 1px solid #D66552;
}

.input-group-btn > .btn {
    background-color: #CC3E27;
    color: #fff;
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group-btn > .btn:hover {
    color: #CC3E27;
    background-color: #fff;
    border-color: #D66552;
}

.input-group .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.form {
    margin: 0 auto;
    float: none;
}

.recipe-head {
    border-bottom: 1px solid #CC3E27;
}

.recipe-time {
    float: left;
}

.recipe-time span {
    color: #CC3E27;
    font-size: 20px;
}

.recipe-time p {
    display: inline;
    font-size: 20px;
}

.recipe-name {
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #CC3E27;
}

.recipe-author {
    float: right;
}

.recipe-author h5 {
    display: inline;
    color: #CC3E27;
    font-weight: bold;
}

.recipe-image {
    padding: 30px;
    text-align: center;
}

.recipe-image img {
    width: 400px;
}

.recipe-description {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: 20px 0;
    padding: 10px;
    background-color: #FFF;
}

.recipe-subhead {

}

.recipe-ingredients {
    font-style: italic;
    background-color: #FCF0AD;
}

.recipe-ingredients h3 {
}

.recipe-ingredients li {
    list-style: none;
}

.recipe-album ul {
    padding-left: 0;
    text-align: center;
}

.recipe-album li {
    display: inline;
    list-style: none;
}

.recipe-album img {
    width: 120px;
}

.recipe-tags {

}

.recipe-tags-list {

}

.recipe-tag {
    display: inline-block;
    background-color: #FFF;
    color: #CC3E27;
    border: 1px solid #e3e3e3;
    border-radius: 10%;
    padding: 4px 5px;
    margin: 3px;
    text-align: center;
}

.recipe-tag:hover {
    background-color: #CC3E27;
    color: #FFF;
    text-decoration: none;
    border-color: #FFF;
}

.recipe-taste h5 {
    font-weight: bold;
    margin-bottom: 0;
}

.recipe-taste .progress {
    height: 10px;
}

.recipe-taste .progress .progress-bar {
    font-size: 10px;
    line-height: 12px;
}

.recipe-info {
    background-color: #FFF;
    padding: 5px;
    margin: 0 20px;
    border-radius: 10px;
}

.recipe-info-data {
    padding: 5px;
    margin-top: 5px;
}

.recipe-info-data h5 {
    display: inline;
    font-weight: bold;
}

.recipe-info-data span {
    float: right;
}

.recipe-info-data span .recipe-tag {
    margin-right: -7px;
    margin-top: -5px;
}

.recipe-steps-list h1 {
    color: #CC3E27;
}

.recipe-step {
    border: 1px solid #e3e3e3;
    padding: 10px;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 2px;
}

.recipe-step h5 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.recipe-step span {
    display: block;
    padding: 10px;
}

.recipe-step-image {
    text-align: center;
    width: 100%;
}

.recipe-step-image img {
    width: 400px;
    background-color: #CC3E27;
}

.recipe-note {

}

.recipe-note h1 {
    color: #CC3E27;
}

.recipe-note span {
    border: 1px solid #e3e3e3;
    padding: 15px;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 2px;
    text-align: justify;
    text-align-last: left;
}

.drag-and-drop {
    border: 2px dotted #0B85A1;
    height: 100%;
    min-height: 100px;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    /*padding: 10px 10px 10px 10px;*/
    margin-bottom: 10px;
    font-size: 175%;
}

.main-picture {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    font-size: 175%;
    text-align: center;
}

#main-picture-indicator {
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto
}

#main-picture-indicator span.glyphicon {
    font-size: 300%;
}

.drop-target {
    border: dashed 2px #cc7466;
    color: #cc7466;
    border-radius: 6px;
}

.drop-target.dropping {
    border: solid 2px #cc7466;
}

.gallery {
    min-height: 150px;
    margin-left: 0;
    margin-right: 0;

    font-size: 150%;
    text-align: center;
}

#gallery-indicator {
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

#gallery-indicator span.glyphicon {
    font-size: 200%;
}

.gallery .gallery-item {
    height: 100%;
    padding: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    max-height: 150px;
}

.input-xlg {
    height: 52px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
}

.step span {
    font-size: 50px;
    color: #CC3E27;
}

.step.next span {
    font-size: 50px;
    color: #ccc4bc;
}

.step img {
    height: auto;
    width: 100%;
}

.savours-help {
    font-size: 18px;
    font-style: italic;
    color: #9f9f9f;
    padding: 20px;
}

.ingredient-item span.repeatable-add {
    color: #ababab;
}

.path {
    stroke-dasharray: 2257;
    stroke-dashoffset: 2257;
}

.description-recipe-main {
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#salty.progress-bar {
    background: #0480be;
}

#sour.progress-bar {
    background: #d4ab2e;
}

#bitter.progress-bar {
    background: #22b42d;
}

#sweet.progress-bar {
    background: #b472a8;
}

#spicy.progress-bar {
    background: #c52323;
}

.plus-profile {
    color: #CC3E27;
}

.plus-profile:hover {
    color: #fff;
    background-color: #CC3E27;
    border-color: #D66552;
}

.btn-follow {
    color: #CC3E27;
}

.btn-follow:hover {
    color: #fff;
    background-color: #CC3E27;
    border-color: #D66552;
}

.btn-unfollow {
    color: #fff;
    background-color: #CC3E27;
    border-color: #D66552;
}

.btn-unfollow[disabled] {
    color: #CC3E27;
    opacity: .65;
}

.btn-unfollow:hover {
    color: #CC3E27;
    background-color: #eaaea4;
}

.alert-follow {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    display: none;
}

.border-search {
    border-color: #cc3e27;
}

.border-default {
    border-color: #cc3e27;
}

.text-red {
    color: #cc3e27 !important;
}

.border-white {
    border-color: #fff !important;
}

.thumbnail, .panel, .btn, .border-rect, .badge, .progress {
    border-radius: 2px !important;
}

/*.thumbnail,*/
.panel, .border-rect {
    border: 1px solid #d8d8d8 !important;
}

.badge-counter {
    background-color: #CC3E27 !important;
}

.follow-list-item {
    margin-left: 15px;
    margin-right: 15px;
}

.follow-list-item img {
    height: 80px;
    width: auto;
    margin: 6px 10px 6px 0;
    float: left;
}

.follow-list-item .user-name {
    color: #232323;
    font-size: 16px;
    font-style: normal;
    margin: 8px 0 5px 5px;
}

.follow-list-item .user-name a {
    color: #232323;
}

.follow-list-item .location {
    color: #666666;
}

.follow-list-item .extra-info {
    font-style: italic;
    color: #424242;
}

.recipe-link {
    color: #CC3E27;
    font-weight: bold;
}

.recipe-link:hover {
    color: #CC3E27;
    font-weight: bold;
    text-decoration: None;
}

.follow-msg {
    text-align: center !important;
}

.comment-image img {
    width: 80px;
    height: 80px;
}

.efecto-inferior {
    border-bottom: 16px solid #ccc;
    border-right: 16px solid transparent;
    left: -1px;
    top: -1px;
}

.bocadillo-efecto {
    height: 0;
    position: absolute;
    width: 0;
}

.efecto-superior {
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    left: -1px;
}

.comment-bocadillo {
    background-color: #e9e9e9;
    border-top: 1px solid #ccc;
    cursor: text;
    display: block;
    height: 15px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 20px;
}

.comment-form {
    height: 100px;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
}

.comment-form textarea {
    border: 0;
    resize: none;
    padding-left: 3;
    color: #999;
    background-color: transparent;
    outline: none;
}

.comment-form:hover {
    border: 2px solid #CC3E27;
}

.comment-form:hover .comment-bocadillo {
    border-top: 2px solid #CC3E27;
}

.comment-form:hover .efecto-inferior {
    border-bottom: 16px solid #CC3E27;
    left: 0px;
    top: -2px;
}

.comment-form textarea:focus {
    outline: none;
}

.comment {
    padding: 20px;
}

.comment-text {
    margin: 30px 15px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
    color: #999;
}

.recipe-title {
    font-size: 40px;
    color: #CC3E27;
}

.recipe-title:hover {
    text-decoration: None;
    color: #CC3E27;
}

.list-comments .efecto-inferior {
    border-bottom: 0;
    border-right: 0;
    border-top: 16px solid #ccc;
    border-left: 16px solid transparent;
    left: -2px;
    top: 0px;
}

.list-comments .efecto-superior {
    border-bottom: 0;
    border-right: 0;
    border-top: 15px solid white;
    border-left: 15px solid transparent;
}

.list-comments .comment-bocadillo {
    border-top: 0;
    border-left: 1px solid #ccc;
    height: 20px;
    left: -16px;
    position: relative;
    top: -21px;
    width: 15px;
}

.comment-banned {
    opacity: 0.5;
}

/*estilo de los botones de voto de las recetas*/
.vote{
    padding-right: 12px;
}


.recipe-max-height {
    height: 95px;
}


.limit-text {
    overflow:hidden;
}

.recipe-title-max-height {
    height: 25px;
}


.login-welcome-title {
    font-size: 46px;
    text-align: center;
    color: #474747;
}

.login-welcome-text {
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    line-height: 1.4;
}

.login-welcome {
    margin-top: 10px;
}

.login-form {
    margin-top: 110px;
}

.login-form-heading {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #CC3E27;
}

.login-form form {
    padding: 20px 40px 10px;
}

.login-form-submit {
    width: 100%;
    margin-top: 20px;
}

.login-form-remember label {
    font-weight: bold;
    color: #767676;
    font-size: 13px;
}

.login-form-signup {
    margin-top: 20px;
    text-align: center;
}

.login-form-forgot {
    text-align: center;
    margin-top: 5px;
}

.login-form-forgot a, .login-form-signup a{
    color: #CC3E27;
}