@charset "UTF-8";
.suggest
{
	position:fixed;
	background:#F30;
	float:left;
	background:#ffffff;
	width:342px;
	border:1px solid #333333;
    display: none;

}
.suggest  ul , .suggest li ,  .suggest a
{
	padding:0px;
	list-style:none;
	float:left;
	margin:0px;
}
.suggest li
{

	 padding:4px 5px;
	 border-bottom:1px solid #FFF;
	 border-top:1px solid #FFF;

	 width:340px;

}
.suggest li:hover
{
	background:#6d84b4;
	border-bottom:1px solid #3b5998;
	border-top:1px solid #3b5998;
	color:#FFF;
}
.suggest li:hover .text , .suggest li:hover .category  , .suggest li:hover  .subtext
{
	color:#fff;
}
.suggest img
{
	margin-right:8px;
}
.suggest .text
{
	color:#000;
	font-weight:bold;
	font-size:12px;
	margin-bottom:3px;
}
.suggest .header , .suggest  .header:hover
{
	background:#f2f2f2;
	width:340px;
	padding:2px 5px;
	border:none;
	border-top: 1px solid #e2e2e2;
	color:#000;
}
.suggest  .header:hover .text
{
	color:#000;
}

.suggest a .text
{
	color:#3b5998;
	background:none;
	width:280px;
}
.suggest .category
{
	color:#737373;
	width:280px;
	font-weight:normal;
	font-size:11px;
	margin-bottom:3px;
}
.suggest .subtext
{
	font-size:9px;
	color:#a6a6a6;
}
.suggest .more , .suggest .more:hover
{
	text-align:center;
	font-size:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-top: 1px solid #e2e2e2;
	border-bottom:1px solid #3b5998;
}
.suggest .more span
{
	width:340px;

}
.suggest .more img
{
	float:none;
}
