body {
  padding-top: 90px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-logo {
  width: 50px;
  height: 41px;
}

.navbar .container .navbar-brand {
  margin-left: 25px;
  padding: 5px 10px 0 0;
}

header .container {
  width: 100%;
}

.navbar-form .form-control {
  width: 188px;
}

.profile {
  float: right;
  clear: both;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  width: 250px;
}

.navbar .profile-image {
  padding: 5px;
}

.profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.plus {
  margin: 8px;
  color: #CC3E27;
}

.plus.btn.btn-default:hover,
.plus.btn.btn-default:focus,
.plus.btn.btn-default:active {
  color: #fff;
  background-color: #CC3E27;
  border-color: #D66552;
}

.divider-vertical {
height: 40px;
margin: 5px 9px;
border-left: 1px solid #D66552;
border-right: 1px solid #D66552;
}

.input-group-btn > .btn {
  color: #CC3E27;
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group-btn > .btn:hover {
  color: #fff;
  background-color: #CC3E27;
  border-color: #D66552;
}

.input-group .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.form {
  margin: 0 auto;
  float: none;
}
