{% extends "password_reset/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tags %}
{% load url from future %}

{% block content %}
        <div id="message" class="col-mf-4 col-md-offset-4 panel-body-password-recovery">
            {% if invalid %}{% url "password_reset_recover" as recovery_url %}
                <div class="alert alert-danger">
                    <p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
                </div>
            {% else %}
                <p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
                <!--    Por algun motivo magico la clase form-inline muestra el formulario como un form-horizontal perfecto y
                        bonito.
                        Pero si pruebas a poner la clase form-horizontal... descolocado es poco para lo que te encuentras
                -->
                <form class="form-inline" method="post" action="{% url "password_reset_reset" token %}">
                    {% csrf_token %}
                    <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                        <label class="control-label" for="password1">{% trans "Password:" %}</label>
                        <input class="form-control" id="id_password1" name="password1" type="password" />
                        {% if form.password1.errors %}
                            <span class="help-block">
                                <p class="text-danger">
                                    {% for error in form.password1.errors %}
                                        <strong>{{ error }}</strong><br/>
                                    {% endfor %}
                                </p>
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                        <label class="control-label" for="password2">{% trans "Repeat password:" %}</label>
                        <input class="form-control" id="id_password2" name="password2" type="password" />
                        {% if form.password2.errors %}
                            <span class="help-block">
                                <p class="text-danger">
                                    {% for error in form.password2.errors %}
                                        <strong>{{ error }}</strong><br/>
                                    {% endfor %}
                                </p>
                            </span>
                        {% endif %}
                    </div>
                    <p><input type="submit" class="plus btn btn-default" value="{% trans "Set new password" %}"></p>
                </form>
            {% endif %}
        </div>
{% endblock %}
