{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'webapp/image/favicon.ico' %}">

    <title>EatHub</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'webapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/starter-template.css' %}" rel="stylesheet">

    {% block custom_css %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header>
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main' %}">
                        <img class="navbar-logo" src="{% static 'webapp/image/logo_big.png' %}"/>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'main' %}">{% trans "Home" %}</a></li>
                        <li><a href="#">{% trans "Recipes" %}</a></li>
                        <li><a href="#">{% trans "Explore" %}</a></li>
                        <li class="divider-vertical"></li>
                    </ul>

                    <div class="input-group navbar-input-group">
                        <form class="navbar-form navbar-left" role="search">
                            <input type="text" class="form-control border-search border-rect" placeholder="Search..." name="srch-term"
                                   id="srch-term">
                                <span class="input-group-btn navbar-input-group-btn">
                                    <button class="btn btn-default border-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                        </form>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><p class="navbar-text text-red">{% trans "Hello" %}, {{ user.profile.get.display_name }}.</p>
                            </li>
                            <li class="dropdown">
                                <a class="profile-image dropdown-toggle" data-toggle="dropdown" href="/profile/{{ user.username }}"> <!--TODO: no se si user.username saca el nombre de usuario correcto (el mismo que el de Author)-->
                                    <img src="{% if user.profile.get.avatar %}{{ user.profile.get.avatar.url }}
                                    {% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'profile' user.username %}">{% trans "Profile" %}</a></li>
                                    <li><a href="">Settings</a> </li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <div>
                                    <a type="button" class="plus btn btn-default" href="{% url 'newrecipe' %}">
                                        <span class="glyphicon glyphicon-plus"></span>{% trans "Add recipe" %}
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <a class="plus btn btn-default" href="{% url 'login' %}" role="button">Log in</a>
                            <a class="plus btn btn-default" href="{% url 'newaccount' %}">{% trans "Sign-up" %}</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock navbar %}
    <!--/.nav-collapse -->
</header>
<main>
    <div class="container">

        {% block container %}{% endblock %}

    </div>
    <!-- /.container -->
</main>
<footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'webapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
    {% block custom_js %} {% endblock %}
</footer>
</body>
</html>
