{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}
<STYLE type="text/css">
  h3 {margin-right:20px;
      text-align:justify;
      text-justify:inter-word;}
 </STYLE>

{% block container %}

    <div class="row">
        <div class="col-md-6 contact-about-parent">
            <div class="panel panel-body recipe-more">
                <h3 class="contact-about-us-title">{% trans "About us" %}</h3>
                <p class="terms-text-soft">{% trans "The idea that originated EatHub’s development was that recipes are not something final. It changes, you adapt to you personal taste or maybe someone advises you; so we decided to do manage the real life recipe's evolution . With this, you can control the life your recipes, help to improve your friend’s, copy them and giving your personal touch… You create a recipe, you share it,  everyone contributes, it evolves and the whole community benefits." %} </p>
            </div>
        </div>
        <div class="col-md-6 recipe-notes-parent">
                <div class="panel-body recipe-notes postit">
                    <h3 class="contact-about-us-title">{% trans "What we appreciate from you" %}</h3>
                    <column id="column1" style="float:left; margin:0; width:50%;">
                        <p>{% trans "Suggestions for the website" %}</p>
                        <p>{% trans "Bug reports" %}</p>
                        <p>{% trans "Your experience as a user" %}</p>
                        <p>{% trans "Requests" %}</p>
                    </column>

                    <column id="column2" style="float:left; margin:0;width:50%;">
                     <p>{% trans "Promotion proposals" %}</p>
                     <p>{% trans "Business offers" %}</p>
                     <p>{% trans "Development help" %}</p>
                    </column>
                </div>
            </div>
    </div>

    <div class="row panel panel-body">
        <h3 class="contact-about-us-title">{% trans "Contact Us" %}</h3>

        <p class="terms-text-soft">
            {% trans "This website is currently under development by the members of the fifth group of Software Engineering and Professional Practice (IT - Software Engineering, University of Seville)." %}
            {% trans "Any feedback you can give to us will be very useful. Please, feel free to contact us by sending an email to our address: eathub.contact@gmail.com or by clicking in the following button:" %}
            </p>
        <p class="terms-text-soft">
            {% trans "Thanks for your interest!" %}
        </p>
            <a class="plus btn btn-contact" href="mailto:eathub.contact@gmail.com?subject=Feedback sobre eathub!">{% trans "Send email" %}</a>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}