{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}
{% if follows %}
    <h1>{{ tag }}</h1>

    <div class="row">
        {% for follow in follows %}
            {% with friend_profile=follow.user.profile.get %}
                <div class="col-md-3 panel follow-list-item">
                    <img class="img-rounded"
                         src="{% if friend_profile.user.profile.get.avatar %}{{ friend_profile.user.profile.get.avatar.url }}{% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}"/>

                    <h3 class="user-name"><a href="{% url 'profile' friend_profile.user.username %}">
                        {{ friend_profile.display_name }}</a></h3>

                    <p class="location">
                        <span class="glyphicon glyphicon-map-marker"></span><span>{{ friend_profile.location }}</span>
                    </p>

                    <p class="extra-info">{% trans "No recipes yet" %}</p>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% else %}
    {% if is_owner %}
        <div class="recipe-name">
            <h2 class="follow-msg">{% trans "Don't you have friends? Let's make some!" %}</h2>
        </div>
    {% else %}
        <div class="recipe-name">
            <h2 class="follow-msg"> {{ profile.display_name }} {% trans "has no friends yet" %}</h2>
        </div>
    {% endif %}
{% endif %}
{% endblock %}