{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}
	
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-6">
			<h1>Amigos</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-6">
			<div class="col-md-12 panel panel-default">
				<div class="row">
					<div class="col-md-2">
						<img  src="http://stc.obolog.net/multimedia/fotos/128000/127637/127637-90218.jpg" style="height: 80px; width: 100%;display: block;">
						<!--{% if user.profile.get.avatar %}{{ user.profile.get.avatar.url }}
                                    {% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}-->
					</div>
					<div class="col-md-8">
						<h3>Sergio</h3>
					</div>
					<div class="col-md-2">
						<br />
						<span class="label label-danger">Te sigue</span>
					</div>
				</div>
				<div class="row divider">
					<div class="col-md-10">
						<p>Vive en Sevilla.</p>
						<p>Se uni&oacute; el 12 de octubre de 2013.</p>
					</div>
					<div class="col-md-2">
						<a type="button" class="btn btn-default btn-block plus-profile"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
        
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-6">
			<div class="col-md-12 panel panel-default">
				<div class="row">
					<div class="col-md-2">
						<img  src="http://stc.obolog.net/multimedia/fotos/128000/127637/127637-90218.jpg" style="height: 80px; width: 100%;display: block;">
						<!--{% if user.profile.get.avatar %}{{ user.profile.get.avatar.url }}
                                    {% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}-->
					</div>
					<div class="col-md-8">
						<h3>Sergio</h3>
					</div>
					<div class="col-md-2">
						<br />
						<span class="label label-danger">Te sigue</span>
					</div>
				</div>
				<div class="row divider">
					<div class="col-md-10">
						<p>Vive en Sevilla.</p>
						<p>Se uni&oacute; el 12 de octubre de 2013.</p>
					</div>
					<div class="col-md-2">
						<a type="button" class="btn btn-default btn-block plus-profile"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
        
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-6">
			<div class="col-md-12 panel panel-default">
				<div class="row">
					<div class="col-md-2">
						<img  src="http://stc.obolog.net/multimedia/fotos/128000/127637/127637-90218.jpg" style="height: 80px; width: 100%;display: block;">
						<!--{% if user.profile.get.avatar %}{{ user.profile.get.avatar.url }}
                                    {% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}-->
					</div>
					<div class="col-md-8">
						<h3>Sergio</h3>
					</div>
					<div class="col-md-2">
						<br />
						<span class="label label-danger">Te sigue</span>
					</div>
				</div>
				<div class="row divider">
					<div class="col-md-10">
						<p>Vive en Sevilla.</p>
						<p>Se uni&oacute; el 12 de octubre de 2013.</p>
					</div>
					<div class="col-md-2">
						<a type="button" class="btn btn-default btn-block plus-profile"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
        
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
{% endblock %}