{% load i18n %}
{% load staticfiles %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'webapp/image/favicon.ico' %}">

    <title>EatHub</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'webapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/starter-template.css' %}" rel="stylesheet">

    {% block custom_css %}{% endblock %}

<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <nav class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://getbootstrap.com/examples/starter-template/#"><img
                        class="navbar-logo" src="{{ STATIC_URL }}webapp/image/logo_big.png"/></a>
            </nav>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="http://getbootstrap.com/examples/starter-template/#">Home</a>
                    </li>
                    <li>
                        <a href="http://getbootstrap.com/examples/starter-template/#about">Explore</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="input-group" id="fifteenMargin">
                            <form class="navbar-form navbar-right">
                                <input type="text" class="form-control" placeholder="Search..." name="srch-term"
                                       id="srch-term">

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    {% if user.is_authenticated %}
                        <li class="btn-group">
                            <p>
                                {% trans "Hello" %}, {{ username }}.
                            </p>
                            <a class="profile-image dropdown-toggle" data-toggle="dropdown" href="#"><img
                                    src="{% gravatar_url user.email 150 %}"/></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Profile</a>
                                </li>
                                <li>
                                    <a href="#">My recipes</a>
                                </li>
                                <li>
                                    <a href="#">Friends</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button type="button" class="plus btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span>Add
                            </button>
                        </li>
                    {% else %}
                        <li>
                            <form class="navbar-form form-inline" role="form" action="/login/" method="post">
                                {% csrf_token %}
                                {% csrf_token %}
                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                {% endif %}
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Username</label>
                                    <input type="username" name="username" class="form-control" id="username"
                                           placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                    <input type="password" name="password" class="form-control" id="password"
                                           placeholder="Password" required>
                                </div>
                                <button type="submit" class="btn btn-default">
                                    Sign in
                                </button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </nav>
    <!--/.nav-collapse -->
</header>
<main>
    <div class="container">

        {% block container %}{% endblock %}

    </div>
    <!-- /.container -->
</main>
<footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'webapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
    {% block custom_js %} {% endblock %}
</footer>
</body>
</html>