{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}

    <div class="row">

        <div class="col-md-12 hidden-md hidden-lg">
        <div class="panel panel-default panel-body text-center">
            {% if user.is_authenticated %}
                <div class="col-md-12 col-xs-12 hidden-md hidden-lg"><h2 class="navbar-text text-red text-center">{% trans "Hello" %}, {{ user.profile.get.display_name }}</h2></div>
                <div class="col-md-4 col-xs-4 hidden-md hidden-lg"><a href="{% url 'profile' user.username %}">{% trans "Profile" %}</a></div>
                <div class="col-md-4 col-xs-4 hidden-md hidden-lg"><a href="">Settings</a></div>
                <div class="col-md-4 col-xs-4 hidden-md hidden-lg"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></div>

                <br />

                <div class="col-md-12 col-xs-12 hidden-md hidden-lg">
                    <a type="button" class="plus btn btn-default" href="{% url 'newrecipe' %}">
                        <span class="glyphicon glyphicon-plus"></span>{% trans "Add recipe" %}
                    </a>
                </div>
            {% else %}
                <br />

                <div class="col-md-12 col-xs-12 hidden-md hidden-lg"><a class="btn btn-default btn-eathub" href="{% url 'login' %}"
                   role="button">{% trans "Sign in" %}</a></div>

            {% endif %}
        </div>
        </div>

        {% for recipe in recipes %}
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-body main-card">
                    <div class="main-card-picture" style="background-image: url('{{ recipe.main_image.url }}')">
                        <a href="{% url 'recipe' recipe.id %}">
                            <img src="{{ recipe.main_image.url }}" style="width: 100%; height: 100%; opacity: 0">
                        </a>
                    </div>
                    <div class="main-card-content">
                        <div class="main-card-name">
                            <a class="recipe-title" href="{% url 'recipe' recipe.id %}"><span>{{ recipe.title }}</span></a>
                        </div>

                        <div class="main-card-description">
                            {{ recipe.description }}
                        </div>
                    </div>
                    <div class="recipe-time">
                        <span class="glyphicon glyphicon-time"></span>
                        <span>{{ recipe.time.prep_time }}</span>
                    </div>
                    <div class="recipe-author-main">
                                <span><a class="recipe-link-main"
                                         href="{% url 'profile' recipe.author.username %}">by {{ recipe.author.profile.get.display_name }}</a></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'webapp/js/jquery.dotdotdot.min.js' %}"></script>
    <script>
        $().ready(function () {
            $(".main-card-content").dotdotdot();
        });
    </script>
{% endblock %}