{% extends "webapp/index.html" %}
{% load staticfiles %}
{% load i18n %}


{% block custom_css %}
    <link href="{% static 'webapp/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/slider.css' %}" rel="stylesheet">
{% endblock %}


{% block custom_js %}
    <script src="{% static 'webapp/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('select').selectpicker(); //TODO ¿Poner esto en toda la web y ya está?
            $('.slider').slider();
        })
    </script>
{% endblock %}


{% block container %}
    <h1>Modify the Account</h1>

    <form role="form well well-lg" class="form-horizontal" method="post">
    {% csrf_token %}

    {% comment %}TODO: poner cada error en su campo {% endcomment %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
    {% endfor %}

    {{ form.non_field_errors }}

    <legend>Account information</legend>
    <fieldset class="well">

        <!-- Username -->
        <div class="form-group">
            <label for="id_{{ form.username.name }}"
                   class="col-sm-2 control-label">{{ form.username.label }}</label>

            <div class="col-sm-3">
                {% comment %}
                    Utilizo esta técnica en vez de poner {{ form.username }} para permitir estilos personalizados.
                    Se pueden añadir estilos en la clase NewAccountForm, pero de esta forma es más flexible y deja la
                    visualización como responsabilidad de la plantilla.
                    Visto en: http://stackoverflow.com/questions/18805999/how-to-style-a-django-form-bootstrap
                    {% endcomment %}
                <input type="text" class="form-control" placeholder="Username"
                       name="{{ form.username.name }}" id="id_{{ form.username.name }}"
                       value="{{ form.username.value | default_if_none:'' }}">
            </div>
            <span class="help-block">Required</span>
        </div>


        <!-- Email -->
        <div class="form-group">
            <label for="id_{{ form.email.name }}" class="col-sm-2 control-label">{{ form.email.label }}</label>

            <div class="col-sm-3">
                <input type="email" class="form-control" placeholder="youremail@example.com"
                       name="{{ form.email.name }}" id="id_{{ form.email.name }}"
                       value="{{ form.email.value | default_if_none:'' }}">
            </div>
            <span class="help-block">Required</span>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="id_{{ form.password.name }}"
                   class="col-sm-2 control-label">{{ form.password.label }}</label>

            <div class="col-sm-3">
                <input type="password" class="form-control" placeholder="Your password"
                       name="{{ form.password.name }}" id="id_{{ form.password_repeat.name }}"
                       value="{{ form.password.value | default_if_none:'' }}">
            </div>
            <span class="help-block">Required</span>
        </div>

        <!-- Password repeat -->
        <div class="form-group">
            <label for="id_{{ form.password_repeat.name }}"
                   class="col-sm-2 control-label">{{ form.password_repeat.label }}</label>

            <div class="col-sm-3">
                <input type="password" class="form-control" placeholder="Repeat your password"
                       name="{{ form.password_repeat.name }}" id="id_{{ form.password_repeat.name }}"
                       value="{{ form.password_repeat.value | default_if_none:'' }}">
            </div>
            <span class="help-block">Required</span>
        </div>
    </fieldset>

    <legend>Profile information</legend>
    <fieldset class="well">
        <!-- Display Name -->
        <div class="form-group">
            <label for="id_{{ form.display_name.name }}"
                   class="col-sm-2 control-label">{{ form.display_name.label }}</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Your public name"
                       name="{{ form.display_name.name }}" id="id_{{ form.display_name.name }}"
                       value="{{ form.display_name.value | default_if_none:'' }}">
            </div>
            <span class="help-block">Required</span>
        </div>

        <!-- Main Language -->
        <div class="form-group">
            <label for="id_{{ form.main_language.name }}"
                   class="col-sm-2 control-label">{{ form.main_language.label }}</label>

            <div class="col-sm-3">

                <select class="form-control show-tick"
                        id="id_{{ form.main_language.name }}" name="{{ form.main_language.name }}">
                    {% for choice in form.main_language.field.choices %}
                        {% comment %}TODO Opción preseleccionada!!!{% endcomment %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <span class="help-block">Required</span>
        </div>

        <!-- Additional languages -->
        <div class="form-group">
            <label for="id_{{ form.additional_languages.name }}"
                   class="col-sm-2 control-label">{{ form.additional_languages.label }}</label>

            <div class="col-sm-3">
                <select class="form-control show-tick" multiple data-live-search="true"
                        id="id_{{ form.additional_languages.name }}" name="{{ form.additional_languages.name }}">
                    {% for choice in form.additional_languages.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Gender -->
        <div class="form-group">
            <label for="id_{{ form.gender.name }}"
                   class="col-sm-2 control-label">{{ form.gender.label }}</label>

            <div class="col-sm-3">
                <select class="form-control show-tick"
                        id="id_{{ form.gender.name }}" name="{{ form.gender.name }}">
                    {% for choice in form.gender.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Location -->
        <!-- Country -->
        <div class="form-group">
            <label for="id_{{ form.country.name }}"
                   class="col-sm-2 control-label">{{ form.country.label }}</label>

            <div class="col-sm-3">
                <select class="form-control show-tick"
                        id="id_{{ form.country.name }}" name="{{ form.country.name }}">
                    {% for choice in form.country.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- City -->
        <div class="form-group">
            <label for="id_{{ form.city.name }}"
                   class="col-sm-2 control-label">{{ form.city.label }}</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Your city or reference location"
                       name="{{ form.city.name }}" id="id_{{ form.city.name }}"
                       value="{{ form.city.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Website -->
        <div class="form-group">
            <label for="id_{{ form.website.name }}"
                   class="col-sm-2 control-label">{{ form.website.label }}</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Your page's URL"
                       name="{{ form.website.name }}" id="id_{{ form.website.name }}"
                       value="{{ form.website.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Birth Date -->
        <div class="form-group">
            <label for="id_{{ form.birth_date.name }}"
                   class="col-sm-2 control-label">{{ form.birth_date.label }}</label>

            <div class="col-sm-3">
                <input type="date" class="form-control"
                       name="{{ form.birth_date.name }}" id="id_{{ form.birth_date.name }}"
                       value="{{ form.birth_date.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Avatar -->
        {% comment %}<div class="form-group">
            <label for="id_" class="col-sm-2 control-label">Profile picture</label>

            <!-- TODO alternativas para el estilo:
                http://gregpike.net/demos/bootstrap-file-input/demo.html
                http://markusslima.github.io/bootstrap-filestyle/
                -->
            <div class="col-sm-3">
                <input type="file" accept="image/*" class="form-control" name="avatar" id="id_" value="">
            </div>
        </div>{% endcomment %}

    </fieldset>

    <legend>Consumer preferences</legend>
    <fieldset class="well">
        <!-- Special conditions -->

        <!-- Tastes -->
        <div class="col-sm-5">
            <h3>Tastes</h3>
            <label for="id_{{ form.salty.name }}" class="slider-label">{{ form.salty.label }}</label>

            <div class="control-group">
                <input type="number" class="form-control slider"
                       name="{{ form.salty.name }}" id="id_{{ form.salty.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.salty.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="salty"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sour.name }}" class="slider-label">{{ form.sour.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sour.name }}" id="id_{{ form.sour.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sour.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sour"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.bitter.name }}" class="slider-label">{{ form.bitter.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.bitter.name }}" id="id_{{ form.bitter.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.bitter.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="bitter"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sweet.name }}" class="slider-label">{{ form.sweet.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sweet.name }}" id="id_{{ form.sweet.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sweet.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sweet"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.spicy.name }}" class="slider-label">{{ form.spicy.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.spicy.name }}" id="id_{{ form.spicy.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.spicy.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="spicy"
                        >
            </div>
        </div>
    </fieldset>

    <!-- Submit Button -->
    <div class="form-group">
        <label for="inputDisplayName" class="col-sm-1 control-label"></label>

        <div class="col-sm-3">
            <input type="submit" class="btn btn-success" value="Modify the account"/>
        </div>
    </div>
    </form>
{% endblock %}