{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block custom_css %}
    <link href="{% static 'webapp/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/slider.css' %}" rel="stylesheet">
{% endblock %}


{% block custom_js %}
    <script src="{% static 'webapp/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('select').selectpicker(); //TODO ¿Poner esto en toda la web y ya está?
            $('.slider').slider();
        })
    </script>

    <script type="text/javascript">
        // Gracias a http://hayageek.com/drag-and-drop-file-upload-jquery/
        // Y a http://digipiph.com/blog/submitting-multipartform-data-using-jquery-and-ajax
        var obj = $("#drop-target");
        obj.on('dragenter', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).css('border', '2px solid #0B85A1');
        });
        obj.on('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
        });
        obj.on('drop', function (e) {

            $(this).css('border', '2px dotted #0B85A1');
            e.preventDefault();
            var files = e.originalEvent.dataTransfer.files;

            //We need to send dropped files to Server
            handleFileUpload(files, obj);
        });

        function handleFileUpload(files, obj) {
            var fd = new FormData($('form')[0]);
            fd.append('image', files[0]);
            // Envía el csrf token con los datos de post, para que Django no lo interprete como un ataque
            // Visto en: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: '{% url 'upload' %}',
                type: 'POST',
                data: fd,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    var response = $.parseJSON(returndata);
                    var $avatar = $("#avatar-target");
                    $avatar.attr("src", response.url);
                    $("#id_avatar_url").val($avatar.prop("src"));
                    $("#id_avatar_id").val(response.id);
                }
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}


{% block container %}
    {% if edit %}
        {% trans "Edit profile" as title %}
    {% else %}
        {% trans "Create account" as title %}
    {% endif %}
<div class="panel panel-default">
<div class="panel-body">
    <h1>{{ title }}</h1>

    <form role="form well well-lg" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %}TODO: poner cada error en su campo {% endcomment %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
    {% endfor %}


    {{ form.errors }}

    {{ form.non_field_errors }}

    <legend>{% trans "Account information" %}</legend>
    <fieldset class="panel-body">

        <!-- Username -->
        <div class="form-group">
            <label for="id_{{ form.username.name }}"
                   class="col-sm-2 control-label">{% trans "Username" %}</label>

            <div class="col-sm-3">
            {% trans "Username" as user_name %}
                {% comment %}
                    Utilizo esta técnica en vez de poner {{ form.username }} para permitir estilos personalizados.
                    Se pueden añadir estilos en la clase NewAccountForm, pero de esta forma es más flexible y deja la
                    visualización como responsabilidad de la plantilla.
                    Visto en: http://stackoverflow.com/questions/18805999/how-to-style-a-django-form-bootstrap
                    {% endcomment %}
                <input type="text" class="form-control" placeholder="{{ user_name }}"
                       name="{{ form.username.name }}" id="id_{{ form.username.name }}"
                       value="{{ form.username.value | default_if_none:'' }}" {% if edit %} disabled {% endif %}>
            </div>
            <span class="help-block">{% trans "Required" %}</span>
        </div>


        <!-- Email -->
        <div class="form-group">
            <label for="id_{{ form.email.name }}" class="col-sm-2 control-label">{% trans "Email" %}</label>

            <div class="col-sm-3">
                {% trans "youremail@example.com" as your_email %}
                <input type="email" class="form-control" placeholder="{{ your_email }}"
                       name="{{ form.email.name }}" id="id_{{ form.email.name }}"
                       value="{{ form.email.value | default_if_none:'' }}" {% if edit %} disabled {% endif %}>
            </div>
            <span class="help-block">{% trans "Required" %}</span>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="id_{{ form.password.name }}"
                   class="col-sm-2 control-label">{% trans "Password" %}</label>

            <div class="col-sm-3">
                {% trans "Your password" as your_pass %}
                <input type="password" class="form-control" placeholder="{{ your_pass }}"
                       name="{{ form.password.name }}" id="id_{{ form.password.name }}"
                       value="{{ form.password.value | default_if_none:'' }}">
            </div>
            <span class="help-block">{% trans "Required" %}</span>
        </div>

        <!-- Password repeat -->
        <div class="form-group">
            <label for="id_{{ form.password_repeat.name }}"
                   class="col-sm-2 control-label">{% trans "Repeat your password" %}</label>

            <div class="col-sm-3">
                {% trans "Repeat your password" as repeat_your_pass %}
                <input type="password" class="form-control" placeholder="{{ repeat_your_pass }}"
                       name="{{ form.password_repeat.name }}" id="id_{{ form.password_repeat.name }}"
                       value="{{ form.password_repeat.value | default_if_none:'' }}">
            </div>
            <span class="help-block">{% trans "Required" %}</span>
        </div>
    </fieldset>

    <legend>{% trans "Profile information" %}</legend>
    <fieldset class="panel-body">
        <!-- Display Name -->
        <div class="form-group">
            <label for="id_{{ form.display_name.name }}"
                   class="col-sm-2 control-label">{% trans "Display name" %}</label>

            <div class="col-sm-3">
                {% trans "Your public name" as your_public_name %}
                <input type="text" class="form-control" placeholder="{{ your_public_name }}"
                       name="{{ form.display_name.name }}" id="id_{{ form.display_name.name }}"
                       value="{{ form.display_name.value | default_if_none:'' }}">
            </div>
            <span class="help-block">{% trans "Required" %}</span>
        </div>

        <!-- Main Language -->
        <div class="form-group">
            <label for="id_{{ form.main_language.name }}"
                   class="col-sm-2 control-label">{% trans "Preferred Language" %}</label>

            <div class="col-sm-3">

                <select class="form-control show-tick"
                        id="id_{{ form.main_language.name }}" name="{{ form.main_language.name }}">
                    {% for choice in form.main_language.field.choices %}
                        {% comment %}TODO Opción preseleccionada!!!{% endcomment %}
                        <option value="{{ choice.0 }}"
                                {% ifequal form.main_language.value choice.0 %}
                                selected
                                {% endifequal %}
                                >{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <span class="help-block">{% trans "Required" %}</span>
        </div>

        <!-- Additional languages -->
        <div class="form-group">
            <label for="id_{{ form.additional_languages.name }}"
                   class="col-sm-2 control-label">{% trans "Additional Language" %}</label>

            <div class="col-sm-3">
                <select class="form-control show-tick" multiple data-live-search="true"
                        id="id_{{ form.additional_languages.name }}" name="{{ form.additional_languages.name }}">
                    {% for choice in form.additional_languages.field.choices %}
                        <option value="{{ choice.0 }}"
                                {% for opt in form.additional_languages.value %}
                                    {% ifequal opt choice.0 %}
                                selected
                                    {% endifequal %}
                                {% endfor %}
                                >{{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Gender -->
        <div class="form-group">
            <label for="id_{{ form.gender.name }}"
                   class="col-sm-2 control-label">{% trans "Gender" %}</label>

            <div class="col-sm-3">
                <select class="form-control show-tick"
                        id="id_{{ form.gender.name }}" name="{{ form.gender.name }}">
                    {% for choice in form.gender.field.choices %}
                        <option value="{{ choice.0 }}"
                                {% ifequal form.gender.value choice.0 %}
                                selected
                                {% endifequal %}
                                >{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Location -->
        <div class="form-group">
            <label for="id_{{ form.location.name }}"
                   class="col-sm-2 control-label">{% trans "Location" %}</label>

            <div class="col-sm-3">
                {% trans "Your city, country or else" as your_city %}
                <input type="text" class="form-control" placeholder="{{ your_city }}"
                       name="{{ form.location.name }}" id="id_{{ form.location.name }}"
                       value="{{ form.location.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Website -->
        <div class="form-group">
            <label for="id_{{ form.website.name }}"
                   class="col-sm-2 control-label">{% trans "Website" %}</label>

            <div class="col-sm-3">
                {% trans "Your page's URL" as your_URL %}
                <input type="text" class="form-control" placeholder="{{ your_URL }}"
                       name="{{ form.website.name }}" id="id_{{ form.website.name }}"
                       value="{{ form.website.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Birth Date -->
        <div class="form-group">
            <label for="id_{{ form.birth_date.name }}"
                   class="col-sm-2 control-label">{% trans "Birth date" %}</label>

            <div class="col-sm-3">
                <input type="date" class="form-control"
                       name="{{ form.birth_date.name }}" id="id_{{ form.birth_date.name }}"
                       value="{{ form.birth_date.value.year }}-{% if form.birth_date.value.month < 10 %}0{% endif %}{{ form.birth_date.value.month }}-{% if form.birth_date.value.day < 10 %}0{% endif %}{{ form.birth_date.value.day }}">
            </div>
        </div>

        <!-- Avatar -->
        <div class="form-group">
            <label for="id_{{ form.avatar.name }}" class="col-sm-2 control-label">{% trans "Profile picture" %}</label>
            <!-- TODO alternativas para el estilo:
                http://gregpike.net/demos/bootstrap-file-input/demo.html
                http://markusslima.github.io/bootstrap-filestyle/
                -->
            <div class="col-sm-3">
                <div id="drop-target" class="drag-and-drop avatar-drop">
                    <img id="avatar-target" class="img-rounded img-responsive"
                         src="{{ form.avatar_url.value|default_if_none:'' }}">
                    <input type="hidden" id="id_{{ form.avatar_url.name }}" name="{{ form.avatar_url.name }}">
                    <input type="hidden" id="id_{{ form.avatar_id.name }}" name="{{ form.avatar_id.name }}">
                </div>
            </div>
        </div>

    </fieldset>

    <legend>{% trans "Consumer preferences" %}</legend>
    <fieldset class="panel-body">
        <!-- Special conditions -->

        <!-- Tastes -->
        <div class="col-sm-5">
            <h3>{% trans "Tastes"%}</h3>
            <label for="id_{{ form.salty.name }}" class="slider-label">{% trans "Salty" %}</label>

            <div class="control-group">
                <input type="number" class="form-control slider"
                       name="{{ form.salty.name }}" id="id_{{ form.salty.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.salty.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="salty"
                       value="{{ form.salty.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sour.name }}" class="slider-label">{% trans "Sour" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sour.name }}" id="id_{{ form.sour.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sour.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sour"
                       value="{{ form.sour.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.bitter.name }}" class="slider-label">{% trans "Bitter" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.bitter.name }}" id="id_{{ form.bitter.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.bitter.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="bitter"
                       value="{{ form.bitter.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sweet.name }}" class="slider-label">{% trans "Sweet" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sweet.name }}" id="id_{{ form.sweet.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sweet.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sweet"
                       value="{{ form.sweet.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.spicy.name }}" class="slider-label">{% trans "Spicy" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.spicy.name }}" id="id_{{ form.spicy.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.spicy.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="spicy"
                       value="{{ form.spicy.value | default_if_none:'50' }}"
                        >
            </div>
        </div>
    </fieldset>

    <!-- Submit Button -->
    <div class="form-group">
        <label for="inputDisplayName" class="col-sm-1 control-label"></label>

        {% if edit %}
            {% trans "Save changes" as submit_text %}
        {% else %}
            {% trans "Create account" as submit_text %}
        {% endif %}
        <div class="col-sm-3">
            <input type="submit" class="btn btn-success" value="{{ submit_text }}"/>
        </div>
    </div>
    </form>

    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" id="avatar-form"
          style="display: none">
        {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}