{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load recipe_form %}


{% block custom_css %}
    <link href="{% static 'webapp/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/slider.css' %}" rel="stylesheet">
{% endblock %}


{% block custom_js %}
    <script src="{% static 'webapp/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'webapp/js/repeatable-fields.js' %}"></script>
    <script src="{% static 'webapp/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'webapp/js/ajax-image-upload.js' %}"></script>
    <script type="text/javascript">
        var settings;
        $().ready(function () {
            $('select').selectpicker(); //TODO ¿Poner esto en toda la web y ya está?
            $('.slider').slider();
            jQuery(function () {
                jQuery('.repeat').each(function () {
                    settings = jQuery(this).repeatable_fields({
                        wrapper: '.repeatable-wrapper',
                        container: '.repeatable-container',
                        row: '.repeatable-row',
                        add: '.repeatable-add',
                        remove: '.repeatable-remove',
                        move: '.repeatable-move',
                        template: '.repeatable-template',
                        is_sortable: true,
                        before_add: null,
                        before_remove: null,
                        after_remove: null,
                        after_add: function (container, new_row) {
                            new_row.find(".ingredient-input").focus();
                        }
                    });
                });
            });
        });
    </script>
    <script>
        var galleryArray = {};
        var associationStepPicture = {};

        function setMainPicture(url) {
            $("#main-picture").css('background-image', 'url(' + url + ')');
            $("#main-picture-indicator").hide();
        }

        function addGalleryPicture(url, id) {
            $("#gallery").append('<div class="col-sm-3 gallery-item"><img class="img-rounded" src="' + url + '" data-picture-id="' + id + '"></div>');
        }

        function procesaFormularioInicial() {
            // - Main Picture
            var mainPictureInputName = "#id_{{ form.main_picture_id.name }}";
            var $mainPictureInput = $(mainPictureInputName);
            // La url está almacenada en el atributo initial-picture-url
            var mainPictureUrl = $mainPictureInput.attr("initial-picture-url");
            if (mainPictureUrl) {
                setMainPicture(mainPictureUrl);
            }

            // - Gallery
            // Las urls se guardan en items de una lista oculta
            $("#initial-pictures-urls").find("li").each(function (index, item) {
                var url = $(item).text();
                var id = $(item).attr('data-picture-id');
                galleryArray[url] = id;
                addGalleryPicture(url, id);
            });
        }


        $().ready(function () {

            var $form = $("#recipe-form");
            $form.submit(function (e) {
                //e.preventDefault();

                // Genera el json de fotos
                var pictures = [];
                $(".gallery-item").each(function (index, element) {
                    var picture_id = $(element).find("img").attr("data-picture-id");
                    if (picture_id) {
                        pictures.push(picture_id);
                    }
                });
                if (pictures.length) {
                    var picturesInput = $("<input>")
                            .attr("type", "hidden")
                            .attr("name", "{{ form.pictures_ids_json.name }}")
                            .val(JSON.stringify(pictures));
                    $form.append(picturesInput);
                }


                // Genera el json de ingredientes
                var ingredients = [];
                $(".ingredient-item").each(function (index, element) {
                    if (!$(element).hasClass("repeatable-template")) {
                        var ingredient = $(element).find(".ingredient-input").val();
                        if (ingredient) {
                            ingredients.push(ingredient);
                        }
                    }
                });
                if (ingredients.length) {
                    var ingredientsInput = $("<input>")
                            .attr("type", "hidden")
                            .attr("name", "{{ form.ingredients_json.name }}")
                            .val(JSON.stringify(ingredients));
                    $form.append(ingredientsInput);
                }

                // Genera el json de pasos
                var steps = [];
                $(".step").each(function (index, element) {
                    if (!$(element).hasClass("repeatable-template")) {
                        var step = {};
                        var stepText = $(element).find(".step-input").val();
                        if (stepText) {
                            step['text'] = stepText;
                            var pictureId = $(element).find("img").attr("data-picture-id");
                            if (pictureId) {
                                step['picture'] = pictureId;
                            }
                            steps.push(step);
                        }
                    }
                });
                if (steps.length) {
                    var stepsInput = $("<input>")
                            .attr("type", "hidden")
                            .attr("name", "{{ form.steps_json.name }}")
                            .val(JSON.stringify(steps));
                    $form.append(stepsInput);
                }
            });

            procesaFormularioInicial();

            // Drag&Drop for main picture
            activateDragAndDrop($("#main-picture"), "{% url 'upload' %}", function (returndata) {
                var response = $.parseJSON(returndata);
                //TODO validar y tal
                setMainPicture(response.url);
                // Guardar la info en un campo oculto
                var input_id = "#id_{{ form.main_picture_id.name }}";
                $(input_id).val(response.id);
            });

            // Drag&Drop for gallery
            var gallery = $("#gallery");
            activateDragAndDrop(gallery, "{% url 'upload' %}", function (returndata) {
                var response = $.parseJSON(returndata);
                addGalleryPicture(response.url, response.id)

                // Guardar la info en un campo oculto
                var input_id = "#id_{{ form.pictures_ids_list.name }}";
                //TODO este campo es difícil de limpiar si se quiere quitar una foto de la lista
                var current_val = $(input_id).val();
                $(input_id).val(current_val + ";" + response.id);

                // Y en una variable global
                galleryArray[response.url] = response.id;
            });

            $(".step-list").on("click", ".step-picture", function (event) {
                var stepPicture = $(this);
                var stepIndex = stepPicture.attr("data-step-index");

                var $modal = $("#modal-picture");
                $modal.modal("show");
                var $gallery = $modal.find("#gallery-modal");
                $gallery.empty();

                var urls = [];
                $("#gallery").find(".gallery-item").each(function (index, Element) {
                    urls.push($(Element).find("img").attr("src"))
                });

                for (var i = 0; i < urls.length; i++) {
                    $gallery.append('<div class="col-sm-3 gallery-item"><img class="img-rounded" src="' + urls[i] + '"></div>');
                }

                $gallery.find(".gallery-item").click(function (e) {
                    var url = $(this).find("img").attr("src");
                    var id = galleryArray[url];

                    var $control = stepPicture.children(".step-picture-add");
                    var $pic = stepPicture.children("img");

                    $pic.attr("src", url);
                    $pic.attr("data-picture-id", id);
                    $pic.show();

                    $control.hide();

                    $modal.modal("hide");
                });
            });

        });
    </script>
{% endblock %}

{% block container %}
    <div class="panel panel-default">
    <div class="panel-body">
    <form role="form well well-lg" id="recipe-form" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %}TODO: poner cada error en su campo
    {% endcomment %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
    {% endfor %}

    {{ form.non_field_errors }}
    {{ form.errors }}

    <h3 class="col-lg-offset-1">{% trans "Basic information" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 100px">

        <!-- Title -->
        <div class="form-group">
            <div class="col-sm-12">
                {% trans "Name your recipe" as pl_name_recipe %}
                <input type="text" class="form-control input-xlg" placeholder="{{ pl_name_recipe }}"
                       name="{{ form.title.name }}" id="id_{{ form.title.name }}"
                       value="{{ form.title.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Main Image -->
        <input type="hidden" id="id_{{ form.main_picture_id.name }}" name="{{ form.main_picture_id.name }}"
               initial-picture-url="{% picture_from_id form.main_picture_id.value %}"
               value="{{ form.main_picture_id.value |default:"" }}">

        <div class="form-group">
            <div class="col-sm-12">
                <div class="main-picture drop-target" id="main-picture">
                    <div id="main-picture-indicator">
                        <p>{% trans "Add main picture" %}</p>
                        <span class="glyphicon glyphicon-camera"></span>

                        <p>{% trans "Drag and drop an image here" %}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gallery -->
        {% if form.pictures_ids_json %}
            <ul id="initial-pictures-urls" style="display: none">
                {% for pic_id in form.get_pictures_ids_list %}
                    {% if pic_id %}
                        <li data-picture-id="{{ pic_id }}">{% picture_from_id pic_id %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <input type="hidden" id="id_{{ form.pictures_ids_list.name }}" name="{{ form.pictures_ids_list.name }}"
               value="{{ form.pictures_ids_list.value |default:"" }}">
        <!-- TODO con ciertos tamaños de imagen se buggea y la cuadrícula se va a tomar viento -->
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row gallery drop-target" id="gallery">
                    <!-- Gallery item -->
                    {% comment %}<div class="col-sm-3 gallery-item">
                        <img class="img-rounded"
                             src="http://www.cocinillas.es/wp-content/uploads/2011/05/DSC08380-1600x1200.jpg">
                    </div>{% endcomment %}
                    <div id="gallery-indicator">
                        <p>{% trans "Add more pictures" %}</p>
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            <div class="col-sm-12">
                <!-- <label for="id_{{ form.description.name }}"
               class="col-sm-2 ">{{ form.description.label }}</label> -->
                {% trans "Write a short description. What is your recipe about?" as description_text %}
                <textarea class="form-control input-lg"
                          placeholder="{{ description_text }}"
                          rows="4"
                          name="{{ form.description.name }}" id="id_{{ form.description.name }}"
                        >{{ form.description.value | default_if_none:'' }}</textarea>
            </div>
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">{% trans "How to make it" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 100px">
        <!-- Ingredients -->
        <h4>{% trans "Ingredients list" %}</h4>

        <input type="hidden" id="id_{{ form.ingredients_list.name }}" name="{{ form.ingredients_list.name }}">

        <div class="repeat">
            <div class="form-group repeatable-wrapper">
                <div class="repeatable-container">
                    <!-- ingredient-item -->
                    <div class="form-group ingredient-item repeatable-row repeatable-template">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="input-group">
                            <span class="input-group-addon repeatable-move"><span
                                    class="glyphicon glyphicon-sort"></span> </span>
                                <input type="text" class="form-control ingredient-input"
                                       name="ingredient_{row-count-placeholder}"
                                       id="id_ingredient_{row-count-placeholder}"
                                        >
                            <span class="input-group-btn ingredient-remove">
                                <button class="btn btn-default repeatable-remove" type="button"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <!-- /ingredient-item -->

                    {% for ingredient in form.get_ingredients_list %}
                        <div class="form-group ingredient-item repeatable-row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="input-group">
                                <span class="input-group-addon repeatable-move"><span
                                        class="glyphicon glyphicon-sort"></span> </span>
                                    <input type="text" class="form-control ingredient-input"
                                           name="ingredient_{{ forloop.counter0 }}"
                                           id="id_ingredient_{{ forloop.counter0 }}"
                                           value="{{ ingredient }}"
                                            >
                                <span class="input-group-btn ingredient-remove">
                                    <button class="btn btn-default repeatable-remove" type="button"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="form-group ingredient-item ">
                    <div class="col-sm-8 col-sm-offset-2">
                        <span class="form-control repeatable-add">{% trans "Add an ingredient..." %}</span>
                    </div>
                </div>
            </div>
        </div>

        <h4>{% trans "Step by Step" %}</h4>

        <div class="repeat">
            <div class="form-group repeatable-wrapper step-list">
                <div class="repeatable-container">
                    <!-- Step item -->
                    <div class="repeatable-row repeatable-template">
                        <div class="form-group step">
                            <div class="col-sm-1">
                                <span>{row-number-placeholder}</span>
                            </div>
                            <div class="col-sm-9">
                                {% trans "What is the step?…" as step_description %}
                                <textarea class="form-control input-lg step-input"
                                          placeholder="{{ step_description }}"
                                          rows="4"
                                          name="step_{row-count-placeholder}" id="id_step_{row-count-placeholder}"
                                        ></textarea>
                                        ></textarea>
                            </div>
                            <div class="col-sm-2 step-picture" data-step-index="{row-count-placeholder}">
                                <a class="btn btn-default step-picture-add"><span
                                        class="glyphicon glyphicon-camera"></span></a>
                                <img class="img-rounded"
                                     src="" style="display: none">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!-- /Step item -->

                    {% for step in form.get_steps_list %}
                        <div class="repeatable-row">
                            <div class="form-group step">
                                <div class="col-sm-1">
                                    <span>{{ forloop.counter }}</span>
                                </div>
                                <div class="col-sm-9">
                                    {% trans "What are we doing now?" as the_description %}
                                    <textarea class="form-control input-lg step-input"
                                              placeholder="{{ the_description }}"
                                              rows="4"
                                              name="step_{{ forloop.counter0 }}" id="id_step_{{ forloop.counter0 }}"
                                            >{{ step.text }}</textarea>
                                </div>
                                <div class="col-sm-2 step-picture" data-step-index="{{ forloop.counter0 }}">
                                    <input type="text" hidden name="step-picture-id_{{ forloop.counter0 }}"
                                           value="{% step_picture form.data forloop.counter0 %}">
                                    {% if step.picture %}
                                        <a class="btn btn-default step-picture-add" style="display: none"><span
                                                class="glyphicon glyphicon-camera"></span></a>
                                        <img class="img-rounded" data-picture-id="{{ step.picture }}"
                                             src="{% picture_from_id step.picture %}">
                                    {% else %}
                                        <a class="btn btn-default step-picture-add"><span
                                                class="glyphicon glyphicon-camera"></span></a>
                                        <img class="img-rounded"
                                             src="" style="display: none">
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group step">
                    <div class="col-sm-1">
                        <span>+</span>
                    </div>
                    <div class="col-sm-9">
                        {% trans "What are we doing now?" as the_new_desc %}
                        <textarea class="form-control input-lg repeatable-add"
                                  placeholder="{{ the_new_desc }}"
                                  rows="4"
                                  name="step" id="id_step"
                                ></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-picture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Pick a picture" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12">
                            <div class="row gallery" id="gallery-modal">
                                <!-- Gallery item -->
                                {% comment %}<div class="col-sm-3 gallery-item">
                                    <img class="img-rounded"
                                         src="http://www.cocinillas.es/wp-content/uploads/2011/05/DSC08380-1600x1200.jpg">
                                </div>{% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <h5>{% trans "Additional notes" %}</h5>

        <div class="form-group">
            <div class="col-sm-12">
                {% trans "Anything else you want to point out about your recipe?" as place_holder %}
                <textarea class="form-control input-lg"
                          placeholder="{{ place_holder }}"
                          rows="3"
                          name="{{ form.notes.name }}" id="id_{{ form.notes.name }}"
                        >{{ form.notes.value | default_if_none:'' }}</textarea>
            </div>
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">{% trans "Extra information" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 50px">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.prep_time.name }}">{% trans "Preparation time" %}</label>

                    <div class="col-sm-5">
                        <div class="input-group">
                            {% trans "minutes" as pl_minutes %}
                            <input type="number" class="form-control" placeholder="{{pl_minutes}}"
                                   name="{{ form.prep_time.name }}" id="id_{{ form.prep_time.name }}"
                                   value="{{ form.prep_time.value | default_if_none:'' }}">
                            <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.cook_time.name }}">{% trans "Cooking time" %}</label>

                    <div class="col-sm-5">
                        <div class="input-group">
                            {%  trans "minutes" as pl_min %}
                            <input type="number" class="form-control" placeholder="{{ pl_min }}"
                                   name="{{ form.cook_time.name }}" id="id_{{ form.cook_time.name }}"
                                   value="{{ form.cook_time.value | default_if_none:'' }}">
                            <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.serves.name }}">{% trans "Serves" %}</label>

                    <div class="col-sm-8">
                        {% trans "Two persons or Five units" as serves_number %}
                        <input type="text" class="form-control" placeholder="{{ serves_number }}"
                               name="{{ form.serves.name }}" id="id_{{ form.serves.name }}"
                               value="{{ form.serves.value | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.difficult.name }}">{% trans "Difficulty" %}</label>

                    <div class="col-sm-6">
                        <select class="form-control" name="{{ form.difficult.name }}" id="id_{{ form.difficult.name }}">
                            {% for choice in form.difficult.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% ifequal form.difficult.value choice.0 %}
                                        selected
                                        {% endifequal %}
                                        >{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.temporality.name }}">{% trans "Occasions" %}</label>

                    <div class="col-sm-8">
                        <select class="form-control show-tick" data-live-search="true" multiple
                                name="{{ form.temporality.name }}" id="id_{{ form.temporality.name }}">
                            {% for choice in form.temporality.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% for opt in form.temporality.value %}
                                            {% ifequal opt choice.0 %}
                                        selected
                                            {% endifequal %}
                                        {% endfor %}
                                        >{{ choice.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.food_type.name }}">{% trans "Food type" %}</label>

                    <div class="col-sm-6">
                        <select class="form-control show-tick" name="{{ form.food_type.name }}"
                                id="id_{{ form.food_type.name }}">
                            {% for choice in form.food_type.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% ifequal form.food_type.value choice.0 %}
                                        selected
                                        {% endifequal %}
                                        >{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.special_conditions.name }}">{% trans "Special conditions" %}</label>

                    <div class="col-sm-8">
                        <select class="form-control show-tick" data-live-search="true" multiple
                                name="{{ form.special_conditions.name }}" id="id_{{ form.special_conditions.name }}">
                            {% for choice in form.special_conditions.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% for opt in form.special_conditions.value %}
                                            {% ifequal opt choice.0 %}
                                        selected
                                            {% endifequal %}
                                        {% endfor %}
                                        >{{ choice.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.languages.name }}">{% trans "Language" %}</label>

                    <div class="col-sm-6">
                        <select class="form-control show-tick" name="{{ form.language.name }}"
                                id="id_{{ form.language.name }}">
                            {% for choice in form.language.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% ifequal form.language.value choice.0 %}
                                        selected
                                        {% endifequal %}
                                        >{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.tags.name }}">{% trans "Free tags" %}</label>

                    <div class="col-sm-8">
                        {% trans "Comma separated tags" as pl_comma %}
                        <input type="text" class="form-control" placeholder="{{ pl_comma }}"
                               name="{{ form.tags.name }}" id="id_{{ form.tags.name }}"
                               value="{{ form.tags.value | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="id_{{ form.nationality.name }}">{% trans "Nationality" %}</label>

                    <div class="col-sm-6">
                        <select class="form-control show-tick" name="{{ form.nationality.name }}"
                                id="id_{{ form.nationality.name }}">
                            {% for choice in form.nationality.field.choices %}
                                <option value="{{ choice.0 }}"
                                        {% ifequal form.nationality.value choice.0 %}
                                        selected
                                        {% endifequal %}
                                        >{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">{% trans "Savours" %}</h3>
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 50px">
        <!-- Savours-->
        <div class="col-sm-6">
            <label for="id_{{ form.salty.name }}" class="slider-label">{% trans "Salty" %}</label>

            <div class="control-group">
                <input type="number" class="form-control slider"
                       name="{{ form.salty.name }}" id="id_{{ form.salty.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.salty.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="salty"
                       value="{{ form.salty.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sour.name }}" class="slider-label">{% trans "Sour" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sour.name }}" id="id_{{ form.sour.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sour.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sour"
                       value="{{ form.sour.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.bitter.name }}" class="slider-label">{% trans "Bitter" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.bitter.name }}" id="id_{{ form.bitter.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.bitter.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="bitter"
                       value="{{ form.bitter.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sweet.name }}" class="slider-label"> {% trans "Sweet" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sweet.name }}" id="id_{{ form.sweet.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sweet.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sweet"
                       value="{{ form.sweet.value | default_if_none:'50' }}"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.spicy.name }}" class="slider-label">{% trans "Spicy" %}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.spicy.name }}" id="id_{{ form.spicy.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.spicy.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="spicy"
                       value="{{ form.spicy.value | default_if_none:'50' }}"
                        >
            </div>

            <div id="steps-div">
                <textarea id="steps" style="display:none" name="steps"></textarea>
            </div>
        </div>

        <div class="col-sm-6">
            <p class="savours-help">{% trans "Savour values defines the savour of your recipe and stuff. This way we can better recommend people your recipe based on ther personal tastes and so on, you know. Savours are measured in a relative way, of course. For more information, check Wikipedia or something, dude." %}</p>
        </div>
    </fieldset>

    <!-- Submit Button -->
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 50px">
        <div class="form-group">
            <label for="inputDisplayName" class="col-sm-1 control-label"></label>

            <div class="col-sm-3">
                <input type="submit" class="btn btn-success" value="Publish recipe"/>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-info">{% trans "Save as draft"%}</a>
            </div>
        </div>
    </fieldset>
    </form>

    <!-- Ajax uploads -->
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" id="upload-form"
          style="display: none">
        {% csrf_token %}
    </form>
    </div>
    </div>
{% endblock %}
