{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block custom_css %}
    <link href="{% static 'webapp/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/slider.css' %}" rel="stylesheet">
{% endblock %}


{% block custom_js %}
    <script src="{% static 'webapp/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'webapp/js/repeatable-fields.js' %}"></script>
    <script src="{% static 'webapp/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'webapp/js/ajax-image-upload.js' %}"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('select').selectpicker(); //TODO ¿Poner esto en toda la web y ya está?
            $('.slider').slider();
            jQuery(function () {
                jQuery('.repeat').each(function () {
                    jQuery(this).repeatable_fields();
                });
            });
        });
    </script>
    <script>
        // Drag&Drop for main picture
        var obj = $("#main-picture");
        activateDragAndDrop(obj, "{% url 'upload' %}", function (returndata) {
            var response = $.parseJSON(returndata);
            //TODO validar y tal
            $("#main-picture").css('background-image', 'url(' + response.url + ')');
            $("#main-picture-indicator").hide()
            //TODO guardar la info somewhere
        })

    </script>
{% endblock %}

{% block container %}

    <form role="form well well-lg" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %}TODO: poner cada error en su campo
    {% endcomment %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
    {% endfor %}

    {{ form.non_field_errors }}

    <h3 class="col-lg-offset-1">Basic information</h3>
    <fieldset class="well col-sm-10 col-sm-offset-1" style="padding: 20px 100px">

        <!-- Title -->
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control input-xlg" placeholder="Name your recipe"
                       name="{{ form.title.name }}" id="id_{{ form.title.name }}"
                       value="{{ form.title.value | default_if_none:'' }}">
            </div>
        </div>

        <!-- Main Image -->
        <div class="form-group">
            <div class="col-sm-12">
                <div class="main-picture drop-target" id="main-picture">
                    <div id="main-picture-indicator">
                        <p>Add main picture</p>
                        <span class="glyphicon glyphicon-camera"></span>

                        <p>Drag and drop an image here</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gallery -->
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row gallery well ">
                    <div class="col-sm-2 drag-and-drop">
                        <span>Add</span>
                    </div>
                    <p class="col-sm-10">Add more pictures</p>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            <div class="col-sm-12">
                <!-- <label for="id_{{ form.description.name }}"
               class="col-sm-2 ">{{ form.description.label }}</label> -->
                <textarea class="form-control input-lg"
                          placeholder="Write a short description. ¿What is your recipe about?"
                          rows="4"
                          name="{{ form.description.name }}" id="id_{{ form.description.name }}"
                        >{{ form.description.value | default_if_none:'' }}</textarea>
            </div>
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">Ingredients and procedure</h3>
    <fieldset class="well col-sm-10 col-sm-offset-1" style="padding: 20px 100px">
        <!-- Ingredients -->
        <h5>Ingredients list</h5>

        <div class="form-group well">
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Add another ingredient"
                               value="100g de azúcar moreno">
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Add another ingredient"
                               value="50ml de agua">
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Add another ingredient">
                    </div>
                </div>

            </div>

            {% comment %}<div class="col-sm-8">
            <div class="repeat">
                {% verbatim %}

                <table class="wrapper table table-striped table-bordered">
                    <thead>
                    <tr>
                        <td width="10%" colspan="4"><span class="add btn btn-success">Add</span></td>
                    </tr>
                    </thead>
                    <tbody class="container ui-sortable">
                    <tr class="template row">
                        <td width="10%"><span class="move btn btn-info">Move</span></td>

                        <td width="80%">
                            <dl>
                                <dd><input type="text" name="ingredient[{{row-count-placeholder}}]"
                                           class="form-control"></dd>
                            </dl>
                        </td>
                        <td width="10%"><span class="remove btn btn-danger">Remove</span></td>
                    </tr>
                    </tbody>
                </table>
                {% endverbatim %}
            </div>
        </div>{% endcomment %}
        </div>

        <h5>Step by step</h5>

        <div class="form-group well">
            <div class="col-sm-12">
                <div class="row form-group step">
                    <div class="col-sm-1">
                        <span>1</span>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control input-lg"
                                  placeholder="What is the first step?…"
                                  rows="4"
                                  name="step" id="id_step"
                                ></textarea>
                    </div>
                    <div class="col-sm-2">
                        <img src="http://www.cocinillas.es/wp-content/uploads/2014/03/ensalada-aguacate-gambas-4-680x453.jpg">
                    </div>
                </div>
                <hr>
                <div class="row form-group step">
                    <div class="col-sm-1">
                        <span>2</span>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control input-lg"
                                  placeholder="And the next one?…"
                                  rows="4"
                                  name="step" id="id_step"
                                ></textarea>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></a>
                    </div>
                </div>
                <hr>
                <div class="row form-group step next">
                    <div class="col-sm-1">
                        <span>3</span>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control input-lg"
                                  placeholder="Add next step"
                                  rows="2"
                                  name="step" id="id_step"
                                ></textarea>
                    </div>
                </div>
            </div>
        </div>

        <h5>Additional notes</h5>

        <div class="form-group">
            <div class="col-sm-12">
                <textarea class="form-control input-lg"
                          placeholder="Anything else you want to point out about your recipe?"
                          rows="3"
                          name="step" id="id_step"
                        ></textarea>
            </div>
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">Extra information</h3>
    <fieldset class="well col-sm-10 col-sm-offset-1" style="padding: 20px 50px">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Preparation time</label>

                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="minutes">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Cooking time</label>

                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="minutes">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Serves</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="'Two persons' or 'Five units'">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Difficulty</label>

                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Temporality</label>

                    <div class="col-sm-8">
                        <select class="form-control show-tick" data-live-search="true" multiple>
                            <option>Christmas</option>
                            <option>Summer</option>
                            <option>St. Valentine's</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Food type</label>

                    <div class="col-sm-6">
                        <select class="form-control show-tick">
                            <option>Breakfast</option>
                            <option>Desert</option>
                            <option>Drink</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Special conditions</label>

                    <div class="col-sm-8">
                        <select class="form-control show-tick" data-live-search="true" multiple>
                            <option>Celiac</option>
                            <option>Vegetarian</option>
                            <option>Diabetic</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Language</label>

                    <div class="col-sm-6">
                        <select class="form-control show-tick">
                            <option>Spanish</option>
                            <option>English</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Free tags</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Comma separated tags">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nationality</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="If any">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <h3 class="col-lg-offset-1">Savours</h3>
    <fieldset class="well col-sm-10 col-sm-offset-1" style="padding: 20px 50px">
        <!-- Savours-->
        <div class="col-sm-6">
            <label for="id_{{ form.salty.name }}" class="slider-label">{{ form.salty.label }}</label>

            <div class="control-group">
                <input type="number" class="form-control slider"
                       name="{{ form.salty.name }}" id="id_{{ form.salty.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.salty.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="salty"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sour.name }}" class="slider-label">{{ form.sour.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sour.name }}" id="id_{{ form.sour.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sour.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sour"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.bitter.name }}" class="slider-label">{{ form.bitter.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.bitter.name }}" id="id_{{ form.bitter.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.bitter.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="bitter"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.sweet.name }}" class="slider-label">{{ form.sweet.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.sweet.name }}" id="id_{{ form.sweet.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.sweet.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="sweet"
                        >
            </div>

            <div class="control-group">
                <label for="id_{{ form.spicy.name }}" class="slider-label">{{ form.spicy.label }}</label>
                <input type="number" class="form-control slider"
                       name="{{ form.spicy.name }}" id="id_{{ form.spicy.name }}"
                       data-slider-min="0"
                       data-slider-max="99"
                       data-slider-value="{{ form.spicy.value | default_if_none:'50' }}"
                       data-slider-tooltip="hide"
                       data-slider-id="spicy"
                        >
            </div>

            <div id="steps-div">
                <textarea id="steps" style="display:none" name="steps"></textarea>
            </div>
        </div>

        <div class="col-sm-6">
            <p class="savours-help">Savour values defines the savour of your recipe and stuff. This way we can better
                recommend people your recipe based on ther personal tastes and so on, you know. Savours are measured in
                a relative way, of course. For more information, check Wikipedia or something, dude.</p>
        </div>
    </fieldset>

    <!-- Submit Button -->
    <fieldset class="col-sm-10 col-sm-offset-1" style="padding: 20px 50px">
        <div class="form-group">
            <label for="inputDisplayName" class="col-sm-1 control-label"></label>

            <div class="col-sm-3">
                <input type="submit" class="btn btn-success" value="Publish recipe"/>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-info">Save as draft</a>
            </div>
        </div>
    </fieldset>
    </form>

    <!-- Ajax uploads -->
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" id="upload-form"
          style="display: none">
        {% csrf_token %}
    </form>
{% endblock %}
