{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}
<STYLE type="text/css">
  h3 {margin-right:20px;
      text-align:justify;
      text-justify:inter-word;}
 </STYLE>

{% block container %}
    <div class="container">
    <div class="panel panel-body row goals-description">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h2 class="goals-main-title">What is EatHub?</h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>

            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2 class="goals-panel-title">Create</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <div class="goals-thumbnail">
                </p><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded" />
            </div>
        </div>
        <div class="col-md-4 column">
            <h2 class="goals-panel-title">Improve</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <div class="goals-thumbnail">
                </p><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded" />
            </div>
        </div>
        <div class="col-md-4 column">
            <h2 class="goals-panel-title">Follow</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <div class="goals-thumbnail">
                </p><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded" />
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-body row goals-description">
        <h3 class="goals-panel-title">Affinity System</h3>
        <p class="text-soft"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  </p>
    </div>
</div>

{% endblock %}

{% block custom_js %}
    <script>
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}