{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}

    <div class="panel main-picture-padding-team row">
        <img src="{% static 'webapp/image/etsii.jpg'  %}">
        </img>
    </div>

    <div class="panel panel-body row group-description">
        <p class="text-soft"> {% trans "All the members of the team are students of Software Engineering and Professional Practice (IT - Software Engineering, University of Seville)" %}  </p>
    </div>


    <div class="row">
            <div class="col-md-6 team-more-parent">
                <div class="panel panel-body team-more">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/3688325.jpg'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">Sergio García</h3>
                        <div class="team-more-title">{% trans "Project Manager" %}</div>
                        <div class="team-more-title">sergaralo@alum.us.es</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 team-tastes-parent">
                <div class="panel panel-body team-tastes">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/6684826.jpg'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">David González</h3>
                        <div class="team-more-title">{% trans "Developer" %}</div>
                        <div class="team-more-title">jesgonbel@alum.us.es</div>
                    </div>
                </div>
            </div>
    </div>


    <div class="row">
            <div class="col-md-6 team-more-parent">
                <div class="panel panel-body team-more">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/6688705.jpg'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">Arturo Jiménez</h3>
                        <div class="team-more-title">{% trans "Analyst and Tester" %}</div>
                        <div class="team-more-title">artjimlop@alum.us.es</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 team-tastes-parent">
                <div class="panel panel-body team-tastes">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/6689077.jpg'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">Antonio León</h3>
                        <div class="team-more-title">{% trans "Analyst and Tester" %}</div>
                        <div class="team-more-title">antleocar1@alum.us.es</div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
            <div class="col-md-6 team-more-parent">
                <div class="panel panel-body team-more">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/1993257.jpg'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">Sergio Rodríguez</h3>
                        <div class="team-more-title">{% trans "Developer" %}</div>
                        <div class="team-more-title">serrodcal@alum.us.es</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 team-tastes-parent">
                <div class="panel panel-body team-tastes">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/5088244.jpg'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">Juan Manuel López</h3>
                        <div class="team-more-title">{% trans "Developer" %}</div>
                        <div class="team-more-title">jualoppaz@alum.us.es</div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-md-6 team-more-parent">
                <div class="panel panel-body team-more">
                    <div class="group-div-image">
                        <img class="team-image" src="{% static 'webapp/image/545251.png'  %}"> </img>
                    </div>
                    <div class="group-div-description">
                    <h3 class="team-panel-title">Rafael Vázquez</h3>
                        <div class="team-more-title">{% trans "Developer Lead" %}</div>
                        <div class="team-more-title">rafvazsan@alum.us.es</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}