{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}
    <div class="panel panel-default">
    <div class="container demo">

    <div class="panel-body">
    <div class="col-md-4">
        <!-- Thumbnails -->

        <div class="thumbnail border-white">
            <img alt="" src="{% if profile.avatar %}{{ profile.avatar.url }}
                                    {% else %}{% static 'webapp/image/profile_pic_anon.png' %}{% endif %}">

            <br/>
            <ul class="list-group custom-set">
                <li class="list-group-item"><span class="badge">{{ recipes|length }}</span><a
                        href="{% url 'recipes' profile.user.username %}">{% trans "Recipes" %}</a></li>
                <li class="list-group-item"><span class="badge">{{ followers_list|length }}</span><a
                        href="{% url 'followers' profile.user.username %}">{% trans "Followers" %}</a></li>
                <li class="list-group-item"><span class="badge">{{ profile.following|length }}</span><a
                        href="{% url 'following' profile.user.username %}">{% trans "Following" %}</a></li>
            </ul>
            <br/>
            {% if profile.user.id == user.id %}
                <a class="btn btn-default btn-block btn-follow disabled">{% trans "That's you!" %}</a>
            {% elif following %}
                <a id="btn-unfollow" class="btn btn-default btn-block btn-unfollow">{% trans "Unfollow" %}</a>
            {% else %}
                <a id="btn-follow" class="btn btn-default btn-block btn-follow">{% trans "Follow" %}</a>
            {% endif %}
            <!-- Alert boxes-->
            <div id="error-follow" class="alert alert-dismissable alert-danger alert-follow">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Opps!</strong> <span>{% trans "Unknown error" %}</span></div>
            <div id="ok-follow" class="alert alert-dismissable alert-success alert-follow">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{% trans "Done!" %}</strong> <span></span></div>
        </div>
        <!-- /Thumbnails -->
        {% if profile.user.id == user.id %}
            <a href="{% url 'profile_edit' user.username %}">{% trans "Edit profile" %}</a>
        {% endif %}
    </div>
    <div class="col-md-8 left-block">
    <div class="info-block">
    <div class="recipe-name">
        <h1>{{ profile.display_name }}</h1>
    </div>

    <legend>{% trans "Basic info" %}</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <h4>{% trans "Email" %}</h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <h4>{% trans "Language" %}</h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <p>{{ profile.user.email }}</p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <p>

                {{ profile.main_language }}<p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <h4>{% trans "Check-in date" %}</h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <h4></h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <p>{{ profile.user.date_joined.date }}</p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <p>

                <p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <legend>{% trans "User info" %}</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <h4>{% trans "website" %}</h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <h4>{% trans "Gender" %}</h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <p>{{ profile.website }}</p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <p>{{ profile.gender }}</p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <h4>Karma</h4>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <p>{{ profile.karma }}</p>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
    {% if is_owner %}
        <legend>{% trans "Personal info" %}</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-10">
                    <h4>{% trans "Bith date" %}</h4>
                </div>
                <div class="col-md-10">

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10">
                    <h4>{% trans "Last login" %}</h4>
                </div>
                <div class="col-md-10">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-10">
                    <p>{{ profile.birth_date }}</p>
                </div>
                <div class="col-md-10">

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10">
                    <p>

                    <p>
                </div>
                <div class="col-md-10">

                </div>
            </div>
        </div>
    {% endif %}

    <legend>{% trans "Savours profile" %}</legend>
    <div class="recipe-taste">
        <h5>{% trans "Salty" %}</h5>

        <div class="progress">
            <div class="progress-bar" id="salty" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{ profile.tastes.salty }}%;">
            </div>
        </div>
    </div>
    <div class="recipe-taste">
        <h5>{% trans "Sour" %}</h5>

        <div class="progress">
            <div class="progress-bar" id="sour" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{ profile.tastes.sour }}%;">
            </div>
        </div>
    </div>
    <div class="recipe-taste">
        <h5>{% trans "Bitter" %}</h5>

        <div class="progress">
            <div class="progress-bar" id="bitter" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{ profile.tastes.bitter }}%;">
            </div>
        </div>
    </div>
    <div class="recipe-taste">
        <h5>{% trans "Sweet" %}</h5>

        <div class="progress">
            <div class="progress-bar" id="sweet" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{ profile.tastes.sweet }}%;">
            </div>
        </div>
    </div>
    <div class="recipe-taste">
        <h5>{% trans "Spicy" %}</h5>

        <div class="progress">
            <div class="progress-bar" id="spicy" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{ profile.tastes.spicy }}%;">
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $().ready(function () {
            var $follow = $("#btn-follow");
            $follow.click(function (e) {
                $follow.attr("disabled", true);
                var data = {"username": '{{ profile.user.username }}'};

                $.ajax({
                    type: "POST",
                    url: '{% url 'follow' %}',
                    data: data,
                    dataType: "json",
                    success: function (jqXHR, textStatus, errorThrown) {
                        $follow.html("Following");
                        $follow.attr("disabled", true);

                        var $error = $("#error-follow");
                        $error.hide();

                        var $ok = $("#ok-follow");
                        $ok.show();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var result = $.parseJSON(jqXHR.responseText);

                        var $error = $("#error-follow");
                        $error.find("span").html(result.message);
                        $error.show();

                        var $ok = $("#ok-follow");
                        $ok.hide();

                        $follow.attr("disabled", false);
                    }
                })
            });

            var $unfollow = $("#btn-unfollow");
            $unfollow.click(function (e) {
                $unfollow.attr("disabled", true);
                var data = {"username": '{{ profile.user.username }}'};
                $.ajax({
                    type: "POST",
                    url: '{% url 'unfollow' %}',
                    data: data,
                    dataType: "json",
                    success: function (jqXHR, textStatus, errorThrown) {
                        $unfollow.html("Unfollowed");
                        $unfollow.attr("disabled", true);

                        var $error = $("#error-follow");
                        $error.hide();

                        var $ok = $("#ok-follow");
                        $ok.show();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var result = $.parseJSON(jqXHR.responseText);

                        var $error = $("#error-follow");
                        $error.find("span").html(result.message);
                        $error.show();

                        var $ok = $("#ok-follow");
                        $ok.hide();

                        $unfollow.attr("disabled", false);
                    }
                })
            })
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}