{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}
    <!-- Start Recipe -->
    <!-- Column Left -->
    <div class="col-md-8 panel panel-default">
        <!-- Start Head Recipe -->
        <div class="recipe-head">
            <!-- End Title and Image Recipe -->
            <br />
            <div class="recipe-time">
                <span class="glyphicon glyphicon-time"></span>

                <p>
                    {{ receta.time.prep_time }}
                </p>
            </div>
            <div class="recipe-author">
                <h5>Recipe by</h5>
                <span><a class="recipe-link" href="#">{{ receta.author.display_name }}</a></span>
            </div>
            <div class="recipe-image">
                {% for picture in receta.pictures %}
                    {% if picture.is_main %}
                        <img class="img-thumbnail" src="{{ picture.url }}" alt="Recipe main picture">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="recipe-votes">
                {{ receta.positives|length }}
                {% if user.is_authenticated %}
                    <a id="btn-positive" class="btn"><img src="/static/webapp/image/voto_positivo.png"></a>
                {% else %}
                    <img src="/static/webapp/image/voto_positivo.png">
                {% endif %}
                <br>
                {{ receta.negatives|length }}
                {% if user.is_authenticated %}
                    <a id="btn-negative" class="btn"><img src="/static/webapp/image/voto_negativo.png"></a>
                {% else %}
                    <img src="/static/webapp/image/voto_negativo.png">
                {% endif %}
            </div>
            <div id="error-vote" class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Opps!</strong> <span>Unknown error</span>
            </div>
            <div id="ok-vote" class="alert alert-dismissable alert-success alert-follow">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Done!</strong> <span></span>
            </div>
            <div class="recipe-name">
                <h1>{{ receta.title }}</h1>
            </div>
            <!-- Start Description -->
            <div class="recipe-description">
                <p>
                    {{ receta.description }}
                </p>
            </div>
            <!-- Start Description -->
            <!-- End Title and Image Recipe -->
            <!-- End SubHead Recipe -->
            <div class="recipe-subhead panel-body">
                <!-- End Ingredients Recipe -->
                <div class="recipe-ingredients">
                    <h3>&nbsp;Ingredients</h3>
                    <ul>
                        {% for ingredient in receta.ingredients %}
                            {% if ingredient %}
                                <li>
                                    {{ ingredient }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Ingredients Recipe -->
            </div>
        </div>
        <!-- End SubHead Recipe -->
        <!-- End Head Recipe -->
        <!-- Start Directions -->
        <div class="recipe-steps-list">
            <h1>Steps</h1>
            {% for step in receta.steps %}
                {% if step %}
                    <!-- Start Step -->
                    <div class="recipe-step">
                        <h5>Step {{ forloop.counter }}</h5>
                        <span>{{ step }}</span>

                        {% for image in receta.pictures %}
                            {% if image.step == forloop.parentloop.counter %}
                                <div class="recipe-step-image">
                                    <img class="img-thumbnail" src="{{ image.url }}"/>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End Step -->
                {% endif %}
            {% endfor %}
        </div>
        <!-- End Directions -->
        <!-- Start Notes -->
        <div class="recipe-note">
            <h1>Notes</h1>
            <span class="glyphicon glyphicon-asterisk">{{ receta.notes }}</span>
        </div>
        <!-- End Notes -->
    </div>

    <!-- Colum Right -->
    <div class="col-md-3 col-md-offset-1 panel panel-default">
        <!-- Start Mini Image -->
        <div class="recipe-album">
            <h3>Pictures</h3>
            {% if receta.pictures %}
                <ul>
                    {% for picture in receta.pictures %}
                        <li><img class="img-thumbnail" src="{{ picture.url }}"/></li>
                    {% endfor %}
                </ul>
            {% else %}
                No pictures
            {% endif %}
        </div>
        <!-- End Mini Image -->
        <!-- Start Time Recipe -->
        <h3>Info</h3>

        <div class="recipe-info">
            <div class="recipe-info-data">
                <h5>Prep Time</h5>
                <span>{{ receta.time.prep_time }}</span>
            </div>
            <div class="recipe-info-data">
                <h5>Cook Time</h5>
                <span>{{ receta.time.cook_time }}</span>
            </div>
            <div class="recipe-info-data">
                <h5>Servings</h5>
                <span>{{ receta.serves }}</span>
            </div>
            <div class="recipe-info-data">
                <h5>Difficulty</h5>
                <span>{{ receta.difficult }}</span>
            </div>
            <div class="recipe-info-data">
                <h5>Temporality</h5>
                {% if receta.temporality %}
                    {% for season in receta.temporality %}
                        <span><a class="recipe-tag" href="#">{{ season }}</a></span>
                    {% endfor %}
                {% else %}
                    Not specified
                {% endif %}
            </div>
            <div class="recipe-info-data">
                <h5>Nationality</h5>
                <span><a class="recipe-tag" href="#">{{ receta.nationality }}</a></span>
            </div>
            <div class="recipe-info-data">
                <h5>Food Type</h5>
                <span><a class="recipe-tag" href="#">{{ receta.food_type }}</a></span>
            </div>
            <div class="recipe-info-data">
                <h5>Special Conditions</h5>
                {% if receta.special_conditions %}
                    {% for condition in receta.special_conditions %}
                        {% if condition %}
                            <span><a class="recipe-tag" href="#">{{ condition }}</a></span>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    No special conditions
                {% endif %}
            </div>
        </div>
        <!-- End Time Recipe -->
        <!-- Start Info Recipe -->
        <div class="recipe-info-tastes">
            <h3>Tastes</h3>

            <div class="recipe-taste">
                <h5>Salty</h5>

                <div class="progress">
                    <div class="progress-bar" id="salty" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ receta.savours.salty }}%;">
                    </div>
                </div>
            </div>
            <div class="recipe-taste">
                <h5>Sour</h5>

                <div class="progress">
                    <div class="progress-bar" id="sour" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ receta.savours.sour }}%;">
                    </div>
                </div>
            </div>
            <div class="recipe-taste">
                <h5>Bitter</h5>

                <div class="progress">
                    <div class="progress-bar" id="bitter" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ receta.savours.bitter }}%;">
                    </div>
                </div>
            </div>
            <div class="recipe-taste">
                <h5>Sweet</h5>

                <div class="progress">
                    <div class="progress-bar" id="sweet" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ receta.savours.sweet }}%;">
                    </div>
                </div>
            </div>
            <div class="recipe-taste">
                <h5>Spicy</h5>

                <div class="progress">
                    <div class="progress-bar" id="spicy" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ receta.savours.spicy }}%;">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Info Recipe -->
        <!-- Start Tags -->
        <div class="recipe-tags">
            <h3>Recipe Tags</h3>

            <div class="recipe-tags-list">
                <!--
                <a class="recipe-tag" href="/recipes?allowedCourse=course^course-Main Dishes">Main Dishes</a>
                <a class="recipe-tag" href="/recipes?allowedCuisine=cuisine^cuisine-irish">Irish</a>
                <a class="recipe-tag" href="/recipes?allowedHoliday=holiday^holiday-st-patricks-day">St. Patrick's Day</a>
                -->
                {% if receta.tags %}
                    {% for tag in receta.tags %}
                        {% if tag %}
                            <a class="recipe-tag" href="#">{{ tag }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    This is strange... this recipe has no tags!
                {% endif %}
            </div>
        </div>
        <!-- End Tags -->
    </div>
    <!-- End Recipe -->
{% endblock %}

{% block custom_js %}
    <script>
        var csrftoken = getCookie('csrftoken');

        // establecer valores por defecto utilizados en las peticiones ajax
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            //especificar pretratamiento del XMLHTTPRequest (en este caso, añadir cabecera CSRF)
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // funcion a ejecutar cuando el DOM este completamente cargado
        $(document).ready(function() {
            var $positive = $("#btn-positive");
            var $negative = $("#btn-negative");
            var $error = $("#error-vote");
            var $ok = $("#ok-vote");

            // por defecto los divs para indicar el resultado estan ocultos
            $error.hide();
            $ok.hide();

            // establece una función a ejecutar cuando se haga click sobre el elemento
            $positive.click(function (e) {
                $positive.attr("disabled", true);

                var data = {"recipe": '{{ receta.id }}', "type": "positive"};

                $.ajax({    // Realizar peticion ajax
                    type: "POST",
                    url: '{% url 'vote' %}',
                    data: data,
                    dataType: "json",

                    // funcion ejecutada cuando la peticion haya tenido exito
                    // TODO: Function(PlainObject data, String textStatus, jqHXR jqHXR)
                    success: function (jqXHR, textStatus, errorThrown) {
                        $positive.attr("disabled", true);

                        $error.hide();

                        $ok.show();
                        console.log("procesamiento success terminado, se recargara la pagina")
                        window.location.reload(true)
                    },

                    // funcion ejecutada cuando se haya producido algun error
                    error: function (jqXHR, textStatus, errorThrown) {
                        var result = $.parseJSON(jqXHR.responseText);

                        $error.find("span").html(result.message);
                        $error.show();

                        $ok.hide();

                        $positive.attr("disabled",false);
                    }
                })
            });

            $negative.click(function (e) {
                $negative.attr("disabled",true);

                var data = {"recipe": '{{ receta.id }}', "type": "negative"};

                $.ajax({
                    type:"POST",
                    url: '{% url 'vote' %}',
                    data: data,
                    dataType: "json",

                    success: function(jqXHR, textStatus, errorThrown) {
                        $negative.attr("disabled",true);

                        var $error = $("#error-vote");
                        $error.hide();

                        var $ok = $("#ok-vote");
                        $ok.show();

                        console.log("procesamiento success terminado, se recargara la pagina")
                        window.location.reload(true)
                    },

                    error: function (jqXHR, textStatus, errorThrown) {
                        var result = $.parseJSON(jqXHR.responseText);

                        var $error = $("#error-vote");
                        $error.find("span").html(result.message);
                        $error.show();

                        var $ok = $("#ok-vote");
                        $ok.hide();

                        $positive.attr("disabled",false);
                    }
                })
            })
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}